
﻿ body{padding-top:50px;padding-left:200px; font-family:"微软雅黑";}
.header{position:fixed;top:0;left:0;z-index:1000;width:100%;height:50px;-moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333; background:#fff;}
.logo{color:#fff;font-size:18px;width:200px;height:50px;line-height:50px;background:#1fb5ad;}
.logo img{float:left;margin-top:10px;margin-left:10px;margin-right:30px;}
.logo span{cursor:pointer;}

.user{ width:130px; height:30px; margin-right:10px; margin-top:10px; float:right; position:relative; }
.user-bar{ width:130px; height:30px; line-height:30px; background:#ececec;font-size:14px; color:#3333333; border-radius:20px; text-align:center; cursor:pointer; }
.user-bar img{ cursor:pointer; position:absolute; top:13px; right:15px;}
.user_info{ width:120px; height:65px; border:1px solid #DDDDDD; background:#fff; padding:5px 4px; position:absolute; top:35px;border-radius:5px;}
.user_info .mod{ width:120px; height:30px;  line-height:30px; text-align:center;border-radius:5px; color:#5c6371;}
.user_info .mod:hover{ background:#ECECEC;color:#1FABA4;}


.show_sidebar{cursor:pointer;margin-top:10px;margin-left:10px;background:url(../images/show_sidebar.png) no-repeat;width:30px;height:30px;}
.fl{ background-position:0 0;}
.fl:hover{ background-position:0 -40px;}
.sidebar{position:fixed;z-index:1;left:0px;width:200px;height:100%;background:#202025;}
.subnav ul li{cursor:pointer;font-size:14px;background:#32323A;}
.subnav ul li .sub_list{padding-left:50px;height:50px;line-height:50px; color:#dddddd;  position:relative;}
.subnav ul li .sub_dt{padding-left:50px;height:50px;line-height:50px;background:#28282E url(../images/sub_dot_hover_01.png) no-repeat 22px 22px; color:#A5A9AE;}
.subnav ul li .sub_dt:hover{padding-left:50px;height:50px;line-height:50px; background:#202025 url(../images/sub_dot_hover_02.png) no-repeat 22px 22px; color:#1FABA4;}

.subnav ul li .sub_list .arrow{ float:right; width:29px; height:50px;}
.subnav ul li .sub_list img{ position:absolute; top:20px; right:15px;}
.subnav ul li .sub_list:hover{ color:#1FABA4;}


.list_ico1{background:url("../images/sub_list_01.png") no-repeat 15px 15px;}
.list_ico2{background:url("../images/sub_list_02.png") no-repeat 15px 15px;}
.list_ico3{background:url("../images/sub_list_03.png") no-repeat 15px 15px;}
.list_ico4{background:url("../images/sub_list_04.png") no-repeat 15px 15px;}
.list_ico5{background:url("../images/sub_list_04.png") no-repeat 15px 15px;}

.list_ico1:hover{background:url("../images/sub_list_01.png") no-repeat 15px -29px;}
.list_ico2:hover{background:url("../images/sub_list_02.png") no-repeat 15px -29px;}
.list_ico3:hover{background:url("../images/sub_list_03.png") no-repeat 15px -29px;}
.list_ico4:hover{background:url("../images/sub_list_04.png") no-repeat 15px -29px;}
.list_ico5:hover{background:url("../images/sub_list_04.png") no-repeat 15px -29px;}


a{ cursor:pointer;}

.subnav li{position:relative;}

.sidebar .a dl{position:absolute;left:50px;top:0;}
.sidebar .a dl dt{width:150px;}
.sidebar .a span{display:none;}



.dt_hover{padding-left:50px;height:50px;line-height:50px; background:#202025 url(../images/sub_dot.png) no-repeat 22px 22px !important; color:#1FABA4 !important;}



.main-container{position:relative;width:100%; min-height:724px; background:#ececec; overflow:hidden;}
.main_content{ margin:10px; width:auto; min-height:704px; background:#fff; border-radius:5px;}

 



 


/*登录*/
.wrapper {  min-width:1280px;min-height:500px; height:774px; background:#32323a; margin:0 auto; position:relative;}
.login { width:320px; height:560px; padding:20px 45px; background:#fff; position:absolute; top:50%; margin-top:-280px; left:50%; margin-left:-160px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;behavior: url(css/pie.htc);}
.login .log_person { width:100%; height:120px; text-align:center; margin-bottom:20px;}
.login .log_title { width:100%; height:35px; line-height:35px; text-align:center; font-size:30px; color:#767676; margin-bottom:42px;}
.login  .form1 { width:100%; height:334px;}
.login  .user { width:320px; height:50px; margin-right:0; margin-top:0;}
.login  .user{ background-image:url(../images/login_in.png); background-repeat:no-repeat; }
.login  .user_bg{background-position:0px 0px;margin-bottom:20px;}
.login .user .inp { width:318px; height:20px; line-height:20px; margin:1px; padding:14px 0; border:0;text-align:center; font-size:24px; border-radius:5px;}
.login .user_yan{ background:none; margin-bottom:20px;}
.login .user .yanzheng .captcha{ width:218px;height:20px;  float:left; }
.login .user .yanzheng { width:220px; height:50px;float:left;margin-right:8px;}
.login .user .yanzheng{background-image:url(../images/login_in.png); background-repeat:no-repeat; }
.login .user .cap_yan{background-position:0px -340px; margin-bottom:20px;}
.login .user .yanz_Msg{cursor: pointer;text-align: center;line-height:50px;color: #00b18f;float: right;width:90px;height:50px;border-radius: 5px;-webkit-border-radius:5px; -moz-border-radius:5px;behavior: url(css/pie.htc);background: #c9c9c9;}



.login .Cinput{position:relative;width:320px;height:20px;line-height:20px; margin-bottom:17px; float:left;}
.login .Cinput .checkInput { width:18px; height:18px; float:left; margin-right:10px; position:absolute; top:-2px;}
.login .Cinput .remember, .forget{ width:70px; height:20px; line-height:20px; }
.login .Cinput a { font-size:14px; color:#ababab;}
.login .Cinput .remember { position:absolute; left:40px;}
.login .Cinput .forget { position:absolute; right:0;}
.login .btn_bg { width:320px; height:50px; float:left;}
.login .btn_bg .btn_login:hover{ background:#029992;}
.login .btn_bg .btn_login {width:320px; height:50px; background:#1FB5AC; border:0; padding:0; cursor:pointer; color:#fff; font-size:30px; font-family:"微软雅黑";}
.login .error_Msg { width:320px; height:20px;  line-height:20px; color:#ff0000; float:left; font-size:14px; margin-top:17px;}






/*创建试卷*/
.create_head a:hover{ color:#fff;}
.create_head { width:auto; height:33px; padding:8px 20px; background:#fafafa; font-size:14px; border-bottom:1px solid #eff2f7; position:relative;}
.create_head .record_paper {  height:33px; line-height:33px; float:left; color:#7f7f7f; float:left;}
.create_head ul {width:520px; height:30px; padding:1px 0;position:absolute; left:50%; margin-left: -260px;}

.create_head ul li { list-style:none; float:left;width:120px; height:30px; line-height:30px; text-align:center; border-radius:20px; color:#b2b2b2;margin-right:10px; cursor:pointer; }

.create_head .cre_f1{ background:#eeeeee;}
.create_head .create_on { color:#fff; background:#1fb5ad;}
.create_head .create_off { color:#fff; background:#a8e0dd;}


.create_head .return_list, .input_test { width:100px; height:33px; line-height:33px; text-align:center; position:absolute; border-radius:5px;}



.create_con { width:100%; min-height:654px;}
.create_con .create_info { width:404px;padding:30px 10px 10px; margin:0 auto;}
.create_con .create_info .create_inp { width:100%; height:42px; line-height:42px; font-size:18px; margin-bottom:20px; display:block;}


.create_con .create_info .create_inp .papaer_name{ width:72px; height:42px; line-height:42px; text-align:right; float:left; margin-right:10px;color:#777777;}
.create_con .create_info .create_inp .test { width:298px; height:26px; line-height:26px; border:1px solid #CCC;border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px;font-size:18px; padding:7px 10px; float:left;}

#select_area{ width:320px; height:42px; line-height:42px; padding:8px 0 8px 5px; border:1px solid #333;border-radius:5px;font-size:18px; float:left; opacity:0.2;}


.placeholder{color:#acacac;}
::-webkit-input-placeholder { WebKit browsers
    color:#acacac;
}
:-moz-placeholder { Mozilla Firefox 4 to 18
    color:#acacac;
}
::-moz-placeholder { Mozilla Firefox 19+
    color:#acacac;
}
:-ms-input-placeholder { Internet Explorer 10+
    color:#acacac;
}


/*提交审核*/
.submit_con { padding:24px 20px; width:auto; height:1132px;}
.submit_con .submit_status{ width:100%; height:40px; line-height:40px; font-size:36px; color:#676d7a; padding-bottom:28px; border-bottom:1px solid #eff2f7;}
.submit_con .submit_info{ width:100%; height:auto; padding:18px 24px;}
.submit_con .submit_info p{ color:#5c6371; font-size:18px; line-height:35px;}





/*试卷预览*/
.pre_title{width:auto; height:21px; line-height:21px; padding:10px 20px; color:#5C6371; font-size:18px; background:#EFF2F7;}
.pre_title h3{font-size:18px; font-weight:normal; margin-right:30px; float:left;}
.pre_title span{ font-size:14px;}
.pre_type{ width:auto; height:67px; margin:13px 20px 0 20px; border-bottom:1px solid #dddddd;}
.pre_type ul{ width:auto; height:30px; line-height:30px; margin-bottom:12px;}
.pre_type ul li{ list-style:none; width:30px; height:30px;background:#1FB5AD; margin-right:1px; float:left;}
.pre_type ul li a{padding:8px 11.5px;  color:#fff;}
.pre_type span{color:#5c6371; font-size:14px;}

.pre_content{ width:auto; height:100%; padding:0 20px;}
.pre_content .pre_jiexi{ width:auto; height:auto; padding-bottom:10px; border-bottom:1px solid #dddddd;}
.pre_content .pre_jiexi .pre_timu, p{ width:auto; line-height:22px; font-size:13px; color:#5C6371; padding:10px 20px 0 20px;}
.pre_content .pre_jiexi .pre_timu{ padding-left:0;}
.pre_content .pre_jiexi .pre_timu span{ color:#3dc5b7;}
.pre_content .pre_jiexi .answer{ width:auto; line-height:22px; padding:0 20px; font-size:13px;}
.pre_content .pre_jiexi .answer .sp{margin-right:70px;}
.pre_content .pre_jiexi .answer .sp1{ margin-right:56px;}
/*attrs/choices 后期应该使用 table 之类的表格 元素，这样可以自动对齐
    目前 无法对齐*/
body > .elements{ width:auto; height:100%; padding:0 20px; }
.elements .element{ width:auto; height:auto; padding-bottom:10px;}
.elements .element .elements .element { width:auto; height:auto; padding-top:10px; }
.elements .element .body, .elements .element .choices{ width:auto; line-height:22px; font-size:13px; color:#5C6371; padding:10px 20px 0 20px;}
.elements .element .body{ padding-left:0;}
.elements .element .body .tixu, .elements .element .body .flag{ color:#3dc5b7;}
.elements .element .attrs{ width:auto; line-height:22px; padding:0 20px; font-size:13px;}
.elements .element .attrs .key{margin-right:70px;}

.elements .element .answer .sp1{ margin-right:56px;}
.elements .element .answer{ width:auto; line-height:22px; padding:0 20px; font-size:13px;}


/*系统设置*/
.system{ width:auto; height:auto; padding:8px 25px 10px;}
.system span, .interface span{ font-size:14px; color:#767676; line-height:36px;}
.system .sys_apply{ font-size:14px; line-height:36px; padding-left:20px;}
.system .sys_apply span{ margin-left:23px; color:#4CC4BD;}

.interface{ width:auto; height:auto; padding:10px 20px;}
.interface ul{ width:100%; max-height:152px; display:-webkit-box;
               max-width:1174px; -webkit-box-orient:horizontal; border-top:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD; border-left:1px solid #DDDDDD; }
.interface ul li{ list-style:none;-webkit-box-flex:1; max-height:150px;height:150px; max-width:150px; border-right:1px solid #DDDDDD; position:relative; min-width:115px; min-height:115px;}

/*background:url("../images/1111.jpg") no-repeat; background-size:100% 100%;-webkit-background-size:100% 100%; -moz-background-size:100% 100%;*/
.interface ul li .doc_img{ width:94px; height:107px; margin:0 auto; position:absolute; left:50%; margin-left:-47px; top:50%; margin-top:-47px;}
.interface ul li .doc_img img{ margin-left:23px; margin-top:13px; cursor:pointer;}
.interface ul li .doc_img span{ line-height:30px; text-align:center; display:block;cursor:pointer;}
.interface ul  .li_more{ max-width:45px; max-height:150px; min-width:35px; position:relative;}
.interface ul  .li_more img{ position:absolute; top:50%; margin-top:-30px;cursor:pointer;}
.interface ul  .li_more span{ position:absolute; bottom:9px; left:10px;cursor:pointer;}
.interface ul li a:hover{ color:#666;}




/*接口文档列表*/
.doc_content{ margin:8px 20px 20px; height:100%;border:1px solid #dddddd;}
.doc_snav{ width:202px;height:1120px; z-index:1; float:left;border-right:1px solid #dddddd;}
.doc_list{ width:202px; float:left; position:relative; z-index:2; top:-40px; bottom:0;}
.doc_list ul li{ width:202px; border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;}
.doc_list ul li .list_li{ width:202px; font-size:14px;cursor:pointer; line-height:39px;}
.doc_list ul li .list_li img{ margin-top:8px; margin-left:10px;}

.doc_list ul li dl dt{ padding-left:24px; font-size:14px; height:39px; line-height:39px; border-top:1px solid #dddddd; cursor:pointer;}


.doc_details{ width:auto; float:left;margin-left:203px; position:absolute;}
 .doc_title{height:39px; padding: 0 20px 0 223px; border-bottom:1px solid #dddddd; line-height:39px; z-index:0;}
.doc_details .doc_info{ padding:20px 10px;}
.doc_details .doc_info .title_1, .title_2, .title_3, .title_4{ width:auto; height:auto; line-height:36px;}
.doc_details .doc_info .title_1{ font-size:36px;}
.doc_details .doc_info .title_2{ font-size:24px;}
.doc_details .doc_info .title_3{ font-size:18px;}
.doc_details .doc_info .title_4{ font-size:14px;}



.user-bar, .btn_back, .return_list, .input_test, .test, .cre_f1, .return_list, .btn_login, .cancel, .delete, .paper_sel_answer, .inp_search, .sort_search, .sort_select, .page_num, .page_down, .page_top, .add_lable,.selectModal_mark, .lable_mark{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}

/**************试题录入页面**************/
.cre_f1{ background-color:#eeeeee;}


.create_head .return_list, .input_test { width:100px; height:33px; line-height:33px; text-align:center; position:absolute;cursor: pointer;}
.create_head .return_list { right:125px; background:#b0b5b9; cursor: pointer;}
.create_head .input_test { right:20px;; background:#1fb5ad; cursor: pointer;} 
.create_head  a{ color:#fff; padding:7px 21px; cursor: pointer;}
a:hover{ color:#fff;}



.paper_enter{ padding-left:0 !important; padding-right:0 !important; padding-bottom:100px; }
.paper_enter a{ text-decoration:none;}
.paper_enter .menu{  width:auto; height:33px; margin-bottom:10px; padding:8px 20px; background:#fafafa; font-size:14px; border-bottom:1px solid #eff2f7; position:relative;}
.paper_enter .menu .record_paper{height:33px; line-height:33px; float:left; color:7f7f7f; float:left;}
.paper_enter .menu ul{width:520px; height:30px; padding:1px 0;position:absolute; left:50%; margin-left: -260px;}
.paper_enter .menu li {list-style:none; float:left;width:120px; height:30px; line-height:30px; text-align:center; border-radius:20px;-webkit-border-radius:20px; -moz-border-radius:20px;behavior: url(css/pie.htc); color:#b2b2b2;margin-right:10px; cursor:pointer; }
.paper_enter .menu .on{color: #fff;background: #1fb5ad;}
.paper_enter .menu .return_list, .input_test { top:8px; width:100px; height:33px; line-height:33px; text-align:center; position:absolute; border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px;behavior: url(css/pie.htc);}

.paper_enter .menu .return_list { right:125px; background:#b0b5b9; cursor: pointer;}
.paper_enter .menu .input_test { right:20px;; background:#1fb5ad; cursor: pointer;} 
.return_list:hover{ background:#767676; cursor: pointer;}
.input_test:hover{ background:#029992;}


.paper_enter .menu .cre_f1{background-color::#eeeeee;}

.main{ min-width:1026px;margin:10px 20px;overflow:hidden; min-height:650px;}

/**word导入**/
.paper_enter .import_word{border:1px solid #ddd; min-width:374px;min-height:800px; border-right:none; background-color:#eff2f7;margin-bottom:-9999px;padding-bottom:9999px; overflow:hidden;}
.paper_enter .import_word .import_word_btn{ margin:105px auto 0; color:#767676; background:#EFF2F7; font-size:24px; width:219px; height:80px; text-align:center; line-height:80px; border:1px solid #ddd; display:block; cursor: pointer; font-size:24px; font-family:"微软雅黑";}
.paper_enter .import_word .import_word_btn:hover{ background-color:#fff; }

.paper_enter .import_word p{ text-align:center; margin-top:7px; color:#8e8f90;}

/**试卷信息**/
.paper_enter .enter_paper{ width:649px; height:auto; border:1px solid #ddd; border-bottom:none;}
.paper_enter .enter_paper .paper_info { height:48px; line-height:48px; border-bottom:1px solid #ddd; background-color:#fafafa; color:#7f7f7f;}
.paper_enter .enter_paper .paper_title{ margin-left:14px; font-size:24px; color:#767676;}
.paper_enter .enter_paper .paper_num{ font-size:14px;white-space:nowrap; margin-right:28px;}
.paper_enter .enter_paper .paper_sroce{font-size:14px; white-space:nowrap; margin-right:10px;}

/**试卷录入**/
.paper_enter .paper_item{ background:#EFF2F7;}
.paper_enter .paper_item_edit { width:498px; background:#FAFAFA;}
.f3{ display:block; float:left;}




.paper_enter .paper_item_dl{ border-right:1px solid #ddd; font-size:18px; color:#7f7f7f; font-weight:normal;}
.paper_enter .paper_item_dl .element{ width:498px; border-right:1px solid #ddd; margin-bottom:5px;z-index:220px;}
.paper_enter .paper_item_dl .title_h{ overflow:hidden;height:48px }

.paper_enter .paper_item_slide { border-top:1px solid #ddd;  border-bottom:1px solid #ddd; padding:2px 0;  position:relative; font-weight:normal; margin-bottom:5px; background:#fff;}
.paper_enter .noborder{border-top: none; margin-top:0;}

.paper_enter .paper_item_dl .element .paper_item_slide_hover{background-color:#eee;}
.paper_enter .paper_item_slide .paper_drag_item{padding-left:1px; position:absolute; background:url(../images/paper_drag.png) no-repeat; top: 12px; width:13px; height:22px;cursor: pointer;}
.paper_enter .paper_item_slide .paper_item_slide_tit{float:left; font-size:18px; color:#1fb5ad; margin:1px 0 0 18px;}
.paper_enter .paper_item_dl .paper_item_slide_tit input{ padding-top:8px\0;  width:42px; height:44px; outline:none; border:none; text-align:center; font-size:24px; color:#1fb5ad;}
.paper_enter .paper_item_slide .paper_item_score{float:left; margin:1px 3px 0 12px; text-align:center; }
.paper_enter .paper_item_dl .paper_item_score input{ padding-top:10px\0; width:42px; height:44px; line-height:20px; outline:none; border:none; text-align:center;font-size:18px; color:#7f7f7f; font-weight:normal; font-family:"微软雅黑";}
.paper_enter .paper_item_slide .paper_item_title{float:left; width:300px; text-indent:4px; line-height:44px; padding-top:1px;}
.paper_enter .paper_item_dl .paper_item_toggle{width:20px; height:20px; display:block; position:absolute; top:12px; right:50px;  cursor:pointer; }
.paper_enter .paper_item_dl .paper_item_show { background:url(../images/paper_item_show.png) no-repeat; }
.paper_enter .paper_item_dl .paper_item_hide{ background:url(../images/paper_item_hide.png) no-repeat; }
.paper_enter .paper_item_dl .paper_item_del{background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; display:block;   cursor:pointer; position:absolute; top:12px; right:10px;}
.paper_enter .paper_item_dl .on{ background-color:#ddd !important; border-radius:3px;}

/**选项**/
.paper_enter .paper_item_substance .paper_choice{ padding:2px; border-bottom:1px solid #ddd; position:relative; font-weight:normal;}
.paper_enter .paper_item_substance .paper_choice .paper_sel_answer{ background:#32BBB4; color:#fff; width:30px; height:30px; float:left; line-height:30px; text-align:center; margin:7px 25px 0 15px;}
.paper_enter .paper_item_substance .paper_sel_letter, .paper_sel_answer, .letter_active{ float:left;  width:30px; height:30px; line-height:30px; text-align:center; background-color:#ddd; border-radius:3px; margin:7px 25px 0 15px; cursor:pointer;}
.letter_active{ background:#32BBB4; color:#fff;}
.paper_enter .paper_item_substance .paper_sel_answer{  background:#33BAB3;}
.paper_enter .paper_item_substance .paper_edit_div{  text-indent:4px;  width:350px; text-indent: 4px; line-height:44px;}
.paper_enter .paper_item_substance .paper_choice_del{background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; position:absolute; top:12px; right:10px; cursor:pointer;  }
.paper_enter .paper_item_substance .paper_choice_add{line-height: 49px; height:49px; border-bottom:1px solid #ddd; text-align:center;font-weight:normal;}
.paper_enter .paper_item_substance .paper_choice_add a{ padding-left:20px;}
.paper_enter .paper_item_substance .paper_choice_add .new_choose, .new_answer{ float:left; color:#767676; margin-left:120px; background:url(../images/paper_add_choice.png) no-repeat left center; display:block; width:134px; cursor:pointer;}
.paper_enter .paper_item_substance .paper_choice_add .new_answer{ float:left; margin-left:20px;}

/**属性**/
.paper_enter .paper_item_substance .paper_attr_sel{ padding-left:10px; border-bottom:1px solid #ddd;font-weight:normal; min-height:44px;}
.paper_enter .paper_item_substance .paper_attr_sel span{ font-size:16px; color:#2ebab2; margin-right:14px; float:left;}
.paper_enter .paper_item_substance .paper_attr_sel ul{ width:328px;line-height:44px; float:left;}
.paper_enter .paper_item_substance .paper_attr_sel ul li{ float:left; margin-right:2px; text-align:center; font-size:13px; color:#767676; cursor:pointer; border-radius:5px; position:relative; padding-right:22px;}

.paper_enter .paper_item_substance .paper_attr_sel ul li:hover{ background:#ddd;}
.paper_enter .paper_item_substance .paper_attr_sel .li_img{ width:11px; height:11px; position:absolute; top:16px; right:5px;}
.paper_enter .paper_item_substance .paper_attr_sel .li_a{ float:left; border:1px solid #ddd; padding:21px; background:#fff url(../images/paper_add_choice.png) no-repeat center; margin-left:2px; margin-right:14px;}
.paper_enter .paper_item_substance .paper_attr_sel .li_a:hover{ background:#eee  url(../images/paper_add_choice.png) no-repeat center;}






.paper_enter .paper_item_substance .pape_attr{ padding:2px 0; border-bottom:1px solid #ddd; font-weight:normal;  font-size:18px; color:#7f7f7f;}
.paper_enter .paper_item_substance .pape_attr .attr, .attr_sel{ margin:10px 20px 0 20px; float:left; display:block; color:#1fb5ad;}
.paper_enter .paper_item_substance .pape_attr .attr_sel{ margin:10px 20px 0px 10px;}

.paper_enter .paper_item_substance .pape_attr_edit{width:350px;  float:left; text-indent:4px; color:#757575; line-height:44px;}
.paper_enter .paper_item_substance .pape_attr .pape_attr_draw{ line-height:44px; float:left; padding-left:3px; margin-right:30px;}
.paper_enter .paper_item_substance .pape_attr .label_radio{ display:block; cursor:pointer; float:left; margin-right:30px; line-height:44px; font-weight:normal; width:50px;}
.paper_enter .paper_item_substance .pape_attr .radios { float:left;}
.has-js .label_radio { padding-left: 34px; }		
.has-js .label_radio{ background:url(../images/radio-bg.png) no-repeat;}
.has-js .label_radio { background-position: 5px 12px; }
.has-js label.r_on { background-position: 5px -55px; }
.has-js .label_radio input { position: absolute; left: -9999px; } 

.paper_enter .paper_item_substance .pape_attr .paper_attr_del{background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; display:block; margin:12px 10px 0 0;   cursor:pointer;}
.paper_enter .paper_item_substance .paper_attr_add{line-height: 48px; height:48px; border-bottom:1px solid #ddd; text-align:center; cursor:pointer; font-weight:normal; margin-bottom:5px;}
.paper_enter .paper_item_substance .paper_attr_add a{ background:url(../images/paper_add_choice.png) no-repeat left center; display:block; width:134px; padding-left:20px; margin:0 auto; color:#767676;}

/**复合题**/
.paper_enter .composite .paper_item_title{ margin-left:10px; }
.paper_enter .composite .paper_item_slide_tit{ margin-top:10px;}

/**序号分组**/
.paper_enter .paper_item_group { width:149px; color:#7f7f7f; background:#fff;}
.paper_enter .paper_item_group .paper_group {  border-top:1px solid #ddd; height:40px; }
.paper_enter .paper_item_group .paper_group_view{ height:27px; line-height:27px;border-bottom:1px solid #ddd; text-align:center;}
.paper_enter .paper_item_group .paper_group_name li{ height:20px; line-height:20px; border-bottom:1px solid #ddd; text-align:center; cursor:pointer;}



.paper_item .paper_add{ width:100%; height:50px; font-size:18px;}
.paper_item .paper_add .add_single{ width:499px; float:left; line-height:50px; text-align:center;color: #fff;background:#1FB5AC; cursor:pointer;}
.paper_item .paper_add .add_group{ width:150px;float:right; line-height:50px; text-align:center;color: #fff;background:#1FB5AC; cursor:pointer;}
.paper_item .paper_add img{ margin-top:-4px; margin-right:5px;}
.paper_item .paper_add .add_single:hover{ background:#029992;}
.paper_item .paper_add .add_group:hover{ background:#029992;}

.panel { width:100%; height:1213px; float:left; }
.panel .title { width:auto; height:33px; line-height:33px; padding:8px 20px; background:#fafafa; font-size:14px; border-bottom:1px; }
.panel .table .tbody tr td { vertical-align: bottom; border-bottom: 2px solid #ddd; }
.panel .table tr { vertical-align: bottom;border-bottom: 2px solid #ddd; }
.panel .table { vertical-align: bottom;border-bottom: 2px solid #ddd; }
.panel .table .thead tr th { vertical-align: bottom;border-bottom: 2px solid #ddd; }

/**删除弹出层**/
.papaer_del{ width:498px; height:48px; background:#000; opacity:0.7;}
.papaer_del a{ text-decoration:none;}
.papaer_del .cancel, .delete{ width:80px; height:31px; line-height:31px; cursor:pointer;text-align:center; margin-top:8px; font-size:14px;}
.papaer_del .cancel{ background:#fff; color:#828282; margin-left:165px; float:left;}
.papaer_del .delete{ background:#FF1717; color:#fff; margin-right:165px; float:right;}
.papaer_del .cancel:hover{ background:#EEEEEE;}
.papaer_del .delete:hover{ background:#E10000;}


/**添加考试对话框**/
.add_test{ width:520px; height:480px; border:1px solid #dddddd; border-radius:5px; color:#767676; font-size:14px;}
.add_test .add_test_title{ width:480px; height:30px; line-height:30px; padding:10px 25px 10px 15px; border-bottom:1px solid #dddddd; position:relative;}
.add_test .add_test_title img{ position:absolute; top:20px; right:25px; cursor:pointer;}
.add_test .form1{ width:520px; height:319px; margin:0 auto;}
.add_test .form1 .add_int{ height:33px; width:385px; margin-left:70px; margin-bottom:15px; float:left;}
.add_test .form1 .add_int label{ text-align:right;line-height:33px; float:left;}
.add_test .form1 .add_int .add_inp, .add_inp_time{ width:308px; padding-left:10px;}
.add_test .form1 .add_int input{height:29px; line-height:29px; border:1px solid #dddddd; float:right; border-radius:5px; font-family:"微软雅黑"; font-size:14px; color:#767676; }
.add_test .form1 .add_int .add_int_num, .add_int_score, .add_int_year, .add_int_area, .add_int_endtime, .add_int_to{ float:left; width:165px;}
.add_test .form1 .add_int .add_int_num, .add_int_year{ margin-right:55px;}
.add_test .form1 .add_int .add_int_num .add_inp_num, .add_inp_score, .add_inp_year, .add_inp_area, .add_inp_endtime, .add_inp_totime{ width:88px; padding-left:10px;}

.add_test .form1 .add_int .add_int_choose{ width:320px; height:33px; background:#dddddd; float:right;cursor:pointer;border-radius:5px; text-align:center; line-height:33px; color:#767676;}
a:hover{ color:#767676;}
.add_test .form1 .add_int .add_inp_check{ float:left; margin-left:17px; width:15px; height:15px; margin-top:9px;}
.add_test .form1 .add_int span{ float:left; margin-left:10px; line-height:33px;}
.add_test .form1 .add_int .add_inp_endtime, .add_inp_totime{ width:128px;}
.add_test .form1 .add_timeto{ margin-left:35px; width:420px;}
.add_test .form1 .add_int .add_int_endtime{ width:240px;}
.add_test .form1 .add_int .add_int_to{ width:167px; margin-left:13px;}
.add_test .form1 .add_int .add_inp_totime{ width:128px;}
.add_test .form1 .add_int:nth-child(1){ margin-top:30px;}

.add_test  .add_btn{ width:502px; height:33px;  line-height:34px; padding:8px 9px; float:left;  margin-top:15px;}
.add_test  .add_btn a.add_canal, a.add_new{ width:80px; height:33px; float:left; line-height:33px; text-align:center; border-radius:5px; color:#fff;}
.add_test  .add_btn a.add_canal{ background:#B0B5B9; margin-left:250px; margin-right:80px;}
.add_test  .add_btn a.add_new{ background:#3DC5B7;}
.add_test  .add_btn a.add_canal:hover{ background:#767676;}
.add_test  .add_btn a.add_new:hover{ background:#029992;}

.confirm_exam_del {text-align: center;}
.confirm_exam_del .add_btn {margin-top:20px;margin-left:40px;}
.confirm_exam_del .add_btn a.add_canal, a.add_new{ width:80px; height:33px; float:left; line-height:33px; text-align:center; border-radius:5px; color:#fff;}
.confirm_exam_del .add_btn a.add_canal{ background:#B0B5B9; margin-left:30px; margin-right:40px;}
.confirm_exam_del .add_btn a.add_new{ background:#3DC5B7;}
.confirm_exam_del .add_btn a.add_canal:hover{ background:#767676;}
.confirm_exam_del .add_btn a.add_new:hover{ background:#029992;}
.confirm_exam_del .message {font-size:18px;font-weight:bolder; }

/**选择考试标签**/

.selectModal_mark, .lable_mark{ width:520px; margin:0 auto; font-size:14px;z-index:1000; }
.selectModal_mark .modal_head, .modal_footer, .lable_head, .lable_footer{ width:488px; height:30px; line-height:30px; padding:10px 15px 10px 17px; position:relative; border-bottom:1px solid #DDDDDD;  background:#FAFAFA;	}
.selectModal_mark .modal_head img{ position:absolute; top:20px; right:25px;}
.selectModal_mark .modal_footer{ width:506px; height:33px; border-bottom:0; border-top:1px solid #DDDDDD; padding:8px  7px;background-color:transparent;}
.selectModal_mark .modal_footer input{ width:138px; height:31px; border:1px solid #dddddd; border-radius:5px; margin-right:5px; float:left; padding-left:10px;}
.selectModal_mark .modal_footer .modal_a{ float:left; width:78px; height:31px; border:1px solid #dddddd; text-align:center; line-height:31px; border-radius:5px; }
.selectModal_mark .modal_footer .modal_cannal, .modal_ok{ width:80px; border:0px; height:33px; line-height:33px; text-align:center; float:left; border-radius:5px; color:#fff;}
.selectModal_mark .modal_footer .modal_cannal{ margin-left:98px; background:#B0B5B9; margin-right:8px;}
.selectModal_mark .modal_footer .modal_ok{ background:#3DC5B7; color:#fff;}

.selectModal_mark .modal-body{ width:460px; height:315px; max-height:500px; padding:30px;}
.modal-body ul.ztree {height:315px;overflow-x:auto;}


/**黑屏**/
.black{ width:100%;background-color:#000; position:absolute; z-index:1001; top:0; left:0; display:none;filter:alpha(opacity=50); opacity:0.5;}



/**试卷排序**/
.paper_sort_main{ padding:8px 20px; color:#767676; font-size:14px;}
.paper_sort_title{ height:33px; line-height:33px;}
.paper_sort_title  span{ float:left;}
.paper_sort_title .inp_search{ width:308px; height:31px; border:1px solid #ddd; padding:3px 0 0 10px; float:left; margin:0 7px 7px 10px;}
.paper_sort_title .sort_search{ width:80px; height:31px; line-height:31px; border:1px solid #ddd; float:left; text-align:center;}

/**表格* */
.tab_01{ width:100%; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.tab_01 tr{ line-height:38px;}
.tab_01 tr th, td{ text-align:left; padding-left:10px; font-weight:normal; border-left:1px solid #ddd; border-top:1px solid #ddd;}
.tab_01 tr .center_align{text-align:center; padding-left:10px;}

.tab_01 tr td .sort_select{ width:150px; height:30px; margin-left:5px; margin-bottom:4px; border:1px solid #ddd; color:#767676; font-size:14px; font-family:"微软雅黑";}
/**排序操作**/
.tab_01 tr  .sort_operate{ width:192px;}
/**标签操作**/
.tab_01 tr td .a_oper{ float:left; height:28px; line-height:28px; margin-right:5px;}
.tab_01 tr td .add_lable{ float:left; width:108px; height:32px; line-height:32px; border:1px solid #ddd; margin:2px 0 2px 9px; text-align:center; cursor:pointer; padding-left:20px;}
.tab_01 tr td  .lable_icon{ background:url(../images/lable_list.png) no-repeat 12px -60px;}

.tab_01 tr td .lable_qi, .lable_kai{ background:url(../images/lable_list.png) no-repeat 7px 10px; padding-left:55px; cursor:pointer; }
.tab_01 tr td  .lable_kai{ background:url(../images/lable_list.png) no-repeat 7px -25px; margin-left:30px;}




/**分页**/
.page_left{ float:left; padding-left:10px;}
.page_right{ float:right; padding-right:5px;}
.page_right .page_num{ width:18px; height:28px; border:1px solid #ddd; padding-left:10px; margin:0 2px; margin-bottom:3px;}
.page_right  .page_sp{ float:left;}
.page_right  .page_top, .page_down{ float:left; width:28px; height:28px; border:1px solid #ddd; line-height:28px; text-align:center; margin-top:4px; margin-left:5px;}




/**标签管理弹窗**/
.lable_mark{ width:400px; height:250px; border:1px solid #EFF2F7; font-size:13px; color:#767676;box-shadow: #ddd 0px 0px 2px;}
.lable_mark .lable_head{ width:368px; border-radius:5px 5px 0 0; border-bottom:1px solid #EFF2F7;}
.lable_mark .lable_footer{ width:384;border-radius:0 0 5px 5px; border-top:1px solid #EFF2F7; padding:9px 8px; border-bottom:0;background-color:transparent;}
.lable_mark .lable_head img{ position:absolute; right:20px; top:20px;}
.lable_mark .lable_body{ width:285px; height:89px; margin:30px auto;}
.lable_mark .lable_body .lable_name{ padding-top:10px; line-height:31px;}
.lable_mark .lable_body .lable_name input{ width:218px; height:29px; border:1px solid #ddd; border-radius:5px; margin-left:5px; margin-bottom:25px;}

.lable_footer .modal_cannal, .modal_ok{ width:80px; border:0px; height:33px; line-height:33px; text-align:center; float:left; border-radius:5px; color:#fff;}
.lable_mark .lable_footer .modal_cannal{ margin-left:216px; background:#B0B5B9; margin-right:8px;}
.lable_mark .lable_footer .modal_ok{ background:#3DC5B7; color:#fff;}
 










 

=======
﻿body{padding-top:50px;padding-left:200px; font-family:"微软雅黑"; background-color:#eee;}
.header{position:fixed;top:0;left:0;z-index:1000;width:100%;height:50px;-moz-box-shadow:2px 2px 5px #333333; -webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333; background:#fff;}
.logo{color:#fff;font-size:18px;width:200px;height:50px;line-height:50px;background:#1fb5ad;}
.logo img{float:left;margin-top:10px;margin-left:10px;margin-right:30px;}
.logo span{cursor:pointer;}

.user{ width:130px; height:30px; margin-right:10px; margin-top:10px; float:right; position:relative; }
.user-bar{ width:130px; height:30px; line-height:30px; background:#ececec;font-size:14px; color:#3333333; border-radius:20px; text-align:center; cursor:pointer; }
.user-bar img{ cursor:pointer; position:absolute; top:13px; right:15px;}
.user_info{ width:130px; height:72px; border:1px solid #DDDDDD; background:#fff; padding:5px 4px; position:absolute; top:35px;border-radius:5px;}
.user_info .mod{ width:120px; height:30px;  line-height:30px; text-align:center;border-radius:5px; color:#5c6371;}
.user_info .mod:hover{ background:#ECECEC;color:#1FABA4;}
/*完善下拉菜单样式2015-4-29*/
.user_info .mod a{ font-size:14px; text-decoration:none; color:#767676;}
.user_info .mod a:hover{ font-size:14px; text-decoration:none; color:#1fb5ad;}
.show_sidebar{cursor:pointer;margin-top:10px;margin-left:10px;background:url(../images/show_sidebar.png) no-repeat;width:30px;height:30px;}
.fl{ background-position:0 0;}
.fl:hover{ background-position:0 -40px;}
.sidebar{position:fixed;z-index:1;left:0px;width:200px;height:100%;background:#202025;}
.subnav ul li{cursor:pointer;font-size:14px;background:#32323A;}
.subnav ul li .sub_list{padding-left:50px;height:50px;line-height:50px; color:#dddddd;  position:relative;}
.subnav ul li .sub_dt{padding-left:50px;height:50px;line-height:50px;background:#28282E url(../images/sub_dot_hover_01.png) no-repeat 22px 22px; color:#A5A9AE;}
.subnav ul li .sub_dt:hover{padding-left:50px;height:50px;line-height:50px; background:#202025 url(../images/sub_dot_hover_02.png) no-repeat 22px 22px; color:#1FABA4;}

.subnav ul li .sub_list .arrow{ float:right; width:29px; height:50px;}
.subnav ul li .sub_list img{ position:absolute; top:20px; right:15px;}
.subnav ul li .sub_list:hover{ color:#1FABA4;}

/*调整icon位置2015-4-29*/
.list_ico1{background:url("../images/sub_list_01.png") no-repeat 15px 15px;}
.list_ico2{background:url("../images/sub_list_02.png") no-repeat 15px 15px;}
.list_ico3{background:url("../images/sub_list_05.png") no-repeat 15px 15px;}
.list_ico4{background:url("../images/sub_list_03.png") no-repeat 15px 15px;}
.list_ico5{background:url("../images/sub_list_04.png") no-repeat 15px 15px;}

.list_ico1:hover{background:url("../images/sub_list_01.png") no-repeat 15px -29px;}
.list_ico2:hover{background:url("../images/sub_list_02.png") no-repeat 15px -29px;}
.list_ico3:hover{background:url("../images/sub_list_05.png") no-repeat 15px -29px;}
.list_ico4:hover{background:url("../images/sub_list_03.png") no-repeat 15px -29px;}
.list_ico5:hover{background:url("../images/sub_list_04.png") no-repeat 15px -29px;}


.subnav li{position:relative;}

.sidebar .a dl{position:absolute;left:50px;top:0;}
.sidebar .a dl dt{width:150px;}
.sidebar .a span{display:none;}



.dt_hover{padding-left:50px;height:50px;line-height:50px; background:#202025 url(../images/sub_dot.png) no-repeat 22px 22px !important; color:#1FABA4 !important;}


/*调整内容主容器高度2015-4-29*/
.main-container{ position:relative; width:100%; background:#ececec; overflow:hidden; height:100%; overflow-y:auto;}
.main_content{ margin:10px; width:auto; min-height:400px; background:#fff; border-radius:5px;}








/*登录*/
.wrapper {  min-width:1280px;min-height:500px; height:774px; background:#32323a; margin:0 auto; position:relative;}
.login { width:320px; height:560px; padding:20px 45px; background:#fff; position:absolute; top:50%; margin-top:-280px; left:50%; margin-left:-160px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;behavior: url(css/pie.htc);}
.login .log_person { width:100%; height:120px; text-align:center; margin-bottom:20px;}
.login .log_title { width:100%; height:35px; line-height:35px; text-align:center; font-size:30px; color:#767676; margin-bottom:42px;}
.login  .form1 { width:100%; height:334px;}
.login  .user { width:320px; height:50px; margin-right:0; margin-top:0;}
.login  .user{ background-image:url(../images/login_in.png); background-repeat:no-repeat; }
.login  .user_bg{background-position:0px 0px;margin-bottom:20px;}
.login .user .inp { width:318px; height:20px; line-height:20px; margin:1px; padding:14px 0; border:0;text-align:center; font-size:24px; border-radius:5px;}
.login .user_yan{ background:none; margin-bottom:20px;}
.login .user .yanzheng .captcha{ width:218px;height:20px;  float:left; }
.login .user .yanzheng { width:220px; height:50px;float:left;margin-right:8px;}
.login .user .yanzheng{background-image:url(../images/login_in.png); background-repeat:no-repeat; }
.login .user .cap_yan{background-position:0px -340px; margin-bottom:20px;}
.login .user .yanz_Msg{cursor: pointer;text-align: center;line-height:50px;color: #00b18f;float: right;width:90px;height:50px;border-radius: 5px;-webkit-border-radius:5px; -moz-border-radius:5px;behavior: url(css/pie.htc);background: #c9c9c9;}



.login .Cinput{position:relative;width:320px;height:20px;line-height:20px; margin-bottom:17px; float:left;}
.login .Cinput .checkInput { width:18px; height:18px; float:left; margin-right:10px; position:absolute; top:-2px;}
.login .Cinput .remember, .forget{ width:70px; height:20px; line-height:20px; }
.login .Cinput a { font-size:14px; color:#ababab;}
.login .Cinput .remember { position:absolute; left:40px;}
.login .Cinput .forget { position:absolute; right:0;}
.login .btn_bg { width:320px; height:50px; float:left;}
.login .btn_bg .btn_login:hover{ background:#029992;}
.login .btn_bg .btn_login {width:320px; height:50px; background:#1FB5AC; border:0; padding:0; cursor:pointer; color:#fff; font-size:30px; font-family:"微软雅黑";}
.login .error_Msg { width:320px; height:20px;  line-height:20px; color:#ff0000; float:left; font-size:14px; margin-top:17px;}





/*创建试卷*/
.create_head a:hover{ color:#fff;}
.create_head { width:auto; height:33px; padding:8px 20px; background:#fafafa; font-size:14px; border-bottom:1px solid #eff2f7; position:relative; border-radius:5px 5px 0 0;}
.create_head .record_paper {  height:33px; line-height:33px; float:left; color:7f7f7f; float:left;}
.create_head ul {width:520px; height:30px; padding:1px 0;position:absolute; left:50%; margin-left: -260px;}

.create_head ul li { list-style:none; float:left;width:120px; height:30px; line-height:30px; text-align:center; border-radius:20px; color:#b2b2b2;margin-right:10px; cursor:pointer; }

.create_head .cre_f1{ background:#eeeeee;}
.create_head .create_on { color:#fff; background:#1fb5ad;}
.create_head .create_off { color:#fff; background:#a8e0dd;}


.create_head .return_list, .input_test { width:100px; height:33px; line-height:33px; text-align:center; position:absolute; border-radius:5px;}



.create_con { width:100%; min-height:654px;}
.create_con .create_info { width:404px; padding:30px 0px; margin:0 auto;}
.create_con .create_info .create_inp { width:100%; height:42px; line-height:42px; font-size:18px; margin-bottom:20px; display:block;}


.create_con .create_info .create_inp .papaer_name{ width:72px; height:42px; line-height:42px; text-align:right; float:left; margin-right:10px;color:#777777;}
.create_con .create_info .create_inp .test { width:298px; height:26px; line-height:26px; border:1px solid #ddd;border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px;font-size:18px; padding:7px 10px; float:right;}



.placeholder{color:#acacac;}
::-webkit-input-placeholder { WebKit browsers
    color:#acacac;
}
:-moz-placeholder { Mozilla Firefox 4 to 18
    color:#acacac;
}
::-moz-placeholder { Mozilla Firefox 19+
    color:#acacac;
}
:-ms-input-placeholder { Internet Explorer 10+
    color:#acacac;
}


/*提交审核*/
.submit_con { padding:24px 20px; width:auto; height:1132px;}
.submit_con .submit_status{ width:100%; height:40px; line-height:40px; font-size:36px; color:#676d7a; padding-bottom:28px; border-bottom:1px solid #eff2f7;}
.submit_con .submit_info{ width:100%; height:auto; padding:18px 24px;}
.submit_con .submit_info p{ color:#5c6371; font-size:18px; line-height:35px;}





/*试卷预览*/
.pre_title{width:auto; height:21px; line-height:21px; padding:10px 20px; color:#5C6371; font-size:18px; background:#EFF2F7;}
.pre_title h3{font-size:18px; font-weight:normal; margin-right:30px; float:left;}
.pre_title span{ font-size:14px;}
.pre_type{ width:auto; height:67px; margin:13px 20px 0 20px; border-bottom:1px solid #dddddd;}
.pre_type ul{ width:auto; height:30px; line-height:30px; margin-bottom:12px;}
.pre_type ul li{ list-style:none; width:30px; height:30px;background:#1FB5AD; margin-right:1px; float:left;}
.pre_type ul li a{padding:8px 11.5px;  color:#fff;}
.pre_type span{color:#5c6371; font-size:14px;}

.pre_content{ width:auto; height:100%; padding:0 20px;}
.pre_content .pre_jiexi{ width:auto; height:auto; padding-bottom:10px; border-bottom:1px solid #dddddd;}
.pre_content .pre_jiexi .pre_timu, p{ width:auto; line-height:22px; font-size:13px; color:#5C6371; padding:10px 20px 0 20px;}
.pre_content .pre_jiexi .pre_timu{ padding-left:0;}
.pre_content .pre_jiexi .pre_timu span{ color:#3dc5b7;}
.pre_content .pre_jiexi .answer{ width:auto; line-height:22px; padding:0 20px; font-size:13px;}
.pre_content .pre_jiexi .answer .sp{margin-right:70px;}
.pre_content .pre_jiexi .answer .sp1{ margin-right:56px;}
/*attrs/choices 后期应该使用 table 之类的表格 元素，这样可以自动对齐*/
    /*目前 无法对齐*/
body > .elements{ width:auto; height:100%;border-top:1px solid #ddd; margin:10px 20px ;}
.elements .element{ width:auto; height:auto; padding-bottom:10px; border-bottom:1px solid #dddddd;}
.elements .element .elements .element { width:auto; height:auto; padding-top:10px; border-top:1px solid #dddddd;}
.elements .element .body, .elements .element .choices{ width:auto; line-height:22px; font-size:13px; color:#5C6371; padding:10px 20px 0 20px;}
.elements .element .body{ padding-left:0;}
.elements .element .body .tixu, .elements .element .body .flag{ color:#3dc5b7;}
.elements .element .attrs{ width:auto; line-height:22px; padding:0 20px; font-size:13px;}
.elements .element .attrs .key{margin-right:70px;}

.elements .element .answer .sp1{ margin-right:56px;}
.elements .element .answer{ width:auto; line-height:22px; padding:0 20px; font-size:13px;}


/*系统设置*/
.system{ width:auto; height:auto; padding:8px 25px 10px;}
.system span, .interface span{ font-size:14px; color:#767676; line-height:36px;}
.system .sys_apply{ font-size:14px; line-height:36px; padding-left:20px;}
.system .sys_apply span{ margin-left:23px; color:#4CC4BD;}

.interface{ width:auto; height:auto; padding:10px 20px;}
.interface ul{ width:100%; max-height:152px; display:-webkit-box;
               max-width:1174px; -webkit-box-orient:horizontal; border-top:1px solid #DDDDDD; border-bottom:1px solid #DDDDDD; border-left:1px solid #DDDDDD; }
.interface ul li{ list-style:none;-webkit-box-flex:1; max-height:150px;height:150px; max-width:150px; border-right:1px solid #DDDDDD; position:relative; min-width:115px; min-height:115px;}

/*background:url("../images/1111.jpg") no-repeat; background-size:100% 100%;-webkit-background-size:100% 100%; -moz-background-size:100% 100%;*/
.interface ul li .doc_img{ width:94px; height:107px; margin:0 auto; position:absolute; left:50%; margin-left:-47px; top:50%; margin-top:-47px;}
.interface ul li .doc_img img{ margin-left:23px; margin-top:13px; cursor:pointer;}
.interface ul li .doc_img span{ line-height:30px; text-align:center; display:block;cursor:pointer;}
.interface ul  .li_more{ max-width:45px; max-height:150px; min-width:35px; position:relative;}
.interface ul  .li_more img{ position:absolute; top:50%; margin-top:-30px;cursor:pointer;}
.interface ul  .li_more span{ position:absolute; bottom:9px; left:10px;cursor:pointer;}
.interface ul li a:hover{ color:#666;}




/*接口文档列表*/
.doc_content{ margin:8px 20px 20px; height:100%;border:1px solid #dddddd;}
.doc_snav{ width:202px;height:1120px; z-index:1; float:left;border-right:1px solid #dddddd;}
.doc_list{ width:202px; float:left; position:relative; z-index:2; top:-40px; bottom:0;}
.doc_list ul li{ width:202px; border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;}
.doc_list ul li .list_li{ width:202px; font-size:14px;cursor:pointer; line-height:39px;}
.doc_list ul li .list_li img{ margin-top:8px; margin-left:10px;}

.doc_list ul li dl dt{ padding-left:24px; font-size:14px; height:39px; line-height:39px; border-top:1px solid #dddddd; cursor:pointer;}


.doc_details{ width:auto; float:left;margin-left:203px; position:absolute;}
 .doc_title{height:39px; padding: 0 20px 0 223px; border-bottom:1px solid #dddddd; line-height:39px; z-index:0;}
.doc_details .doc_info{ padding:20px 10px;}
.doc_details .doc_info .title_1, .title_2, .title_3, .title_4{ width:auto; height:auto; line-height:36px;}
.doc_details .doc_info .title_1{ font-size:36px;}
.doc_details .doc_info .title_2{ font-size:24px;}
.doc_details .doc_info .title_3{ font-size:18px;}
.doc_details .doc_info .title_4{ font-size:14px;}



.user-bar, .btn_back, .return_list, .input_test, .test, .cre_f1, .return_list, .btn_login, .cancel, .delete, .paper_sel_answer, .inp_search, .sort_search, .sort_select, .page_num, .page_down, .page_top, .add_lable,.selectModal_mark, .lable_mark{border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}

/**************试题录入页面**************/
.cre_f1{ background-color:#eeeeee;}


.create_head .return_list, .input_test { width:100px; height:33px; line-height:33px; text-align:center; position:absolute;cursor: pointer;}
.create_head .return_list { right:125px; background:#b0b5b9; cursor:pointer; color:#fff;}
.create_head .input_test { right:20px;; background:#1fb5ad; cursor:pointer; color:#fff;} 
.create_head  a{ color:#fff; padding:7px 21px; cursor: pointer;}
a:hover{ color:#fff;}



.paper_enter{ padding-left:0 !important; padding-right:0 !important; padding-bottom:100px; }
.paper_enter a{ text-decoration:none;}
.paper_enter .menu{  width:auto; height:49px; margin-bottom:10px; padding:8px 20px; background:#fafafa; font-size:14px; border-bottom:1px solid #eff2f7; position:relative; border-radius: 5px 5px 0 0;}
.paper_enter .menu .record_paper{height:33px; line-height:33px; float:left; color:7f7f7f; float:left;}
.paper_enter .menu ul{width:520px; height:30px; padding:1px 0;position:absolute; left:50%; margin-left: -260px;}
.paper_enter .menu li {list-style:none; float:left;width:120px; height:30px; line-height:30px; text-align:center; border-radius:20px;-webkit-border-radius:20px; -moz-border-radius:20px;behavior: url(css/pie.htc); color:#b2b2b2;margin-right:10px; cursor:pointer; }
.paper_enter .menu .on{color: #fff;background: #1fb5ad;}
.paper_enter .menu .return_list, .input_test { top:8px; width:100px; height:33px; line-height:33px; text-align:center; position:absolute; border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px;behavior: url(css/pie.htc);}

.paper_enter .menu .return_list { right:125px; background:#b0b5b9; cursor:pointer; color:#fff;}
.paper_enter .menu .input_test { right:20px;; background:#1fb5ad; cursor:pointer; color:#fff;} 
.return_list:hover{ background:#767676; cursor: pointer;}
.input_test:hover{ background:#029992;}


.paper_enter .menu .cre_f1{background-color::#eeeeee;}

.main{ min-width:1026px;margin:10px 20px;overflow:hidden; min-height:650px;}

/**word导入**/
.paper_enter .import_word{border:1px solid #ddd; min-width:374px;min-height:800px; border-right:none; background-color:#eff2f7;margin-bottom:-9999px;padding-bottom:9999px; overflow:hidden;}
.paper_enter .import_word .import_word_btn{ margin:105px auto 0; color:#767676; font-size:24px; width:219px; height:80px; text-align:center; line-height:80px; border:1px solid #ddd; display:block; cursor: pointer; }
.paper_enter .import_word a:hover{ background-color:#fff; }

.paper_enter .import_word p{ text-align:center; margin-top:7px; color:#8e8f90;}

/**试卷信息**/
.paper_enter .enter_paper{ width:649px; height:auto; border:1px solid #ddd; border-bottom:none;}
.paper_enter .enter_paper .paper_info { height:48px; line-height:48px; border-bottom:1px solid #ddd; background-color:#fafafa; color:#7f7f7f;z-index:2002px;}
.paper_enter .enter_paper .paper_title{ margin-left:14px; font-size:24px; color:#767676;}
.paper_enter .enter_paper .paper_num{ font-size:14px;white-space:nowrap; margin-right:28px;}
.paper_enter .enter_paper .paper_sroce{font-size:14px; white-space:nowrap; margin-right:10px;}

/**试卷录入**/
.paper_enter .paper_item{ background:#EFF2F7;}
.paper_enter .paper_item_edit { width:498px; background:#FAFAFA;}
.f3{ display:block; float:left;}




.paper_enter .paper_item_dl{ border-right:1px solid #ddd; font-size:18px; color:#7f7f7f; font-weight:normal;}
.paper_enter .paper_item_dl .element{ width:498px; border-right:1px solid #ddd; margin-bottom:5px;}
.paper_enter .paper_item_dl .title_h{ overflow:hidden;height:48px }

.paper_enter .paper_item_slide { border-top:1px solid #ddd;  border-bottom:1px solid #ddd; padding:2px 0;  position:relative; font-weight:normal; margin-bottom:5px; background:#fff;}
.paper_enter .noborder{border-top: none; margin-top:0;}

.paper_enter .paper_item_dl .element .paper_item_slide_hover{background-color:#eee;}
.paper_enter .paper_item_slide .paper_drag_item{padding-left:1px; position:absolute; background:url(../images/paper_drag.png) no-repeat; top: 12px; width:13px; height:22px;cursor: pointer;}
.paper_enter .paper_item_slide .paper_item_slide_tit{float:left; font-size:18px; color:#1fb5ad; margin:1px 0 0 18px;}
.paper_enter .paper_item_dl .paper_item_slide_tit input{ padding-top:8px\0;  width:42px; height:44px; outline:none; border:none; text-align:center; font-size:24px; color:#1fb5ad;}
.paper_enter .paper_item_slide .paper_item_score{float:left; margin:1px 3px 0 0px; text-align:center; }
.paper_enter .paper_item_dl .paper_item_score input{ padding-top:10px\0; width:42px; height:44px; line-height:20px; outline:none; border:none; text-align:center;font-size:18px; color:#7f7f7f; font-weight:normal; font-family:"微软雅黑";}
.paper_enter .paper_item_slide .paper_item_title{float:left; width:300px; text-indent:4px; line-height:44px; padding-top:1px;}
.paper_enter .paper_item_dl .paper_item_toggle{width:20px; height:20px; display:block; position:absolute; top:12px; right:50px;  cursor:pointer; }
.paper_enter .paper_item_dl .paper_item_show { background:url(../images/paper_item_show.png) no-repeat; }
.paper_enter .paper_item_dl .paper_item_hide{ background:url(../images/paper_item_hide.png) no-repeat; }
.paper_enter .paper_item_dl .paper_item_del{background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; display:block;   cursor:pointer; position:absolute; top:12px; right:10px;}
.paper_enter .paper_item_dl .on{ background-color:#ddd !important; border-radius:3px;}

/**选项**/
.paper_enter .paper_item_substance .paper_choice{ padding:2px; border-bottom:1px solid #ddd; position:relative; font-weight:normal;}
.paper_enter .paper_item_substance .paper_choice .paper_sel_answer{ background:#32BBB4; color:#fff; width:30px; height:30px; float:left; line-height:30px; text-align:center; margin:7px 25px 0 15px;}
.paper_enter .paper_item_substance .paper_sel_letter, .paper_sel_answer, .letter_active{ float:left;  width:30px; height:30px; line-height:30px; text-align:center; background-color:#ddd; border-radius:3px; margin:7px 25px 0 15px; cursor:pointer;}
.letter_active{ background:#32BBB4; color:#fff;}
.paper_enter .paper_item_substance .paper_sel_answer{  background:#33BAB3;}
.paper_enter .paper_item_substance .paper_edit_div{  text-indent:4px;  width:350px; text-indent: 4px; line-height:44px;}
.paper_enter .paper_item_substance .paper_choice_del{background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; position:absolute; top:12px; right:10px; cursor:pointer;  }
.paper_enter .paper_item_substance .paper_choice_add{line-height: 49px; height:49px; border-bottom:1px solid #ddd; text-align:center;font-weight:normal;}
.paper_enter .paper_item_substance .paper_choice_add a{ padding-left:20px;}
.paper_enter .paper_item_substance .paper_choice_add .new_choose, .new_answer{ float:left; color:#767676; margin-left:120px; background:url(../images/paper_add_choice.png) no-repeat left center; display:block; width:134px; cursor:pointer;}


/**属性**/
.paper_enter .paper_item_substance .paper_attr_sel{ padding-left:10px; border-bottom:1px solid #ddd;font-weight:normal; min-height:44px;}
.paper_enter .paper_item_substance .paper_attr_sel span{ font-size:16px; color:#1fb5ad; float:left;}
.paper_enter .paper_item_substance .paper_attr_sel ul{ width:328px;line-height:44px; float:left;}
.paper_enter .paper_item_substance .paper_attr_sel ul li{ float:left; margin-right:2px; text-align:center; font-size:13px; color:#767676; cursor:pointer; border-radius:5px; position:relative; padding-right:22px;}
.paper_enter .paper_item_substance .paper_attr_sel ul .kp span{ color:#767676; font-size:12px;}
.paper_enter .paper_item_substance .paper_attr_sel ul li:hover{ background:#ddd;}
.paper_enter .paper_item_substance .paper_attr_sel .li_img{ width:11px; height:11px; position:absolute; top:16px; right:5px;}
.paper_enter .paper_item_substance .paper_attr_sel .li_a{ float:left; border:1px solid #ddd; padding:21px; background:#fff url(../images/paper_add_choice.png) no-repeat center; margin-left:2px; margin-right:14px;}
.paper_enter .paper_item_substance .paper_attr_sel .li_a:hover{ background:#eee  url(../images/paper_add_choice.png) no-repeat center;}






.paper_enter .paper_item_substance .pape_attr{ padding:2px 0; border-bottom:1px solid #ddd; font-weight:normal;  font-size:18px; color:#7f7f7f;}
.paper_enter .paper_item_substance .pape_attr .attr, .attr_sel{ margin:10px 20px 0 20px; float:left; display:block; color:#1fb5ad;}
.paper_enter .paper_item_substance .pape_attr .attr_sel{ margin:10px 20px 0px 10px;}

.paper_enter .paper_item_substance .pape_attr_edit{width:350px;  float:left; text-indent:4px; color:#757575; line-height:44px;}
.paper_enter .paper_item_substance .pape_attr .pape_attr_draw{ line-height:44px; float:left; padding-left:3px; margin-right:30px;}
.paper_enter .paper_item_substance .pape_attr .label_radio{ display:block; cursor:pointer; float:left; margin-right:30px; line-height:44px; font-weight:normal; width:50px;}
.paper_enter .paper_item_substance .pape_attr .radios { float:left;}
.has-js .label_radio { padding-left: 34px; }		
.has-js .label_radio{ background:url(../images/radio-bg.png) no-repeat; }
.has-js .label_radio { background-position: 5px 12px; }
.has-js label.r_on { background-position: 5px -55px; }
.has-js .label_radio input { position: absolute; left: -9999px; } 

.paper_enter .paper_item_substance .pape_attr .paper_attr_del{background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; display:block; margin:12px 10px 0 0;   cursor:pointer;}
.paper_enter .paper_item_substance .paper_attr_add{line-height: 48px; height:48px; border-bottom:1px solid #ddd; text-align:center; cursor:pointer; font-weight:normal; margin-bottom:5px;}
.paper_enter .paper_item_substance .paper_attr_add a{ background:url(../images/paper_add_choice.png) no-repeat left center; display:block; width:134px; padding-left:20px; margin:0 auto; color:#767676;}

/**复合题**/
.paper_enter .composite .paper_item_title{ margin-left:10px; }
.paper_enter .composite .paper_item_slide_tit{ margin-top:10px;}

/**序号分组**/
.paper_enter .paper_item_group { width:149px; color:#7f7f7f; background:#fff;}
.paper_enter .paper_item_group .paper_group {  border-top:1px solid #ddd; height:40px; }
.paper_enter .paper_item_group .paper_group_view{ height:27px; line-height:27px;border-bottom:1px solid #ddd; text-align:center;}
.paper_enter .paper_item_group .paper_group_name li{ height:20px; line-height:20px; border-bottom:1px solid #ddd; text-align:center; cursor:pointer;}



.paper_item .paper_add{ width:100%; height:50px; font-size:18px;}
.paper_item .paper_add .add_single{ width:498px; float:left;}
.paper_item .paper_add .add_group{ width:149px;float:right;}
.paper_item .paper_add .add_single,.add_group{ line-height:50px; text-align:center; color:#fff; background:#1FB5AC; cursor:pointer; text-decoration:none;}
.paper_item .paper_add img{ margin-top:-4px; margin-right:5px;}
.paper_item .paper_add .add_single:hover{ background:#029992;}
.paper_item .paper_add .add_group:hover{ background:#029992;}

.panel { width:100%; height:1213px; float:left; }
.panel .title { width:auto; height:33px; line-height:33px; padding:8px 20px; background:#fafafa; font-size:14px; border-bottom:1px; }
.panel .table .tbody tr td { vertical-align: bottom; border-bottom: 2px solid #ddd; }
.panel .table tr { vertical-align: bottom;border-bottom: 2px solid #ddd; }
.panel .table { vertical-align: bottom;border-bottom: 2px solid #ddd; }
.panel .table .thead tr th { vertical-align: bottom;border-bottom: 2px solid #ddd; }

/**删除弹出层**/
.papaer_del{ width:498px; height:48px; background:#000; opacity:0.7;}
.papaer_del a{ text-decoration:none;}
.papaer_del .cancel, .delete{ width:80px; height:31px; line-height:31px; cursor:pointer;text-align:center; margin-top:8px; font-size:14px;}
.papaer_del .cancel{ background:#fff; color:#828282; margin-left:165px; float:left;}
.papaer_del .delete{ background:#FF1717; color:#fff; margin-right:165px; float:right;}
.papaer_del .cancel:hover{ background:#EEEEEE;}
.papaer_del .delete:hover{ background:#E10000;}


/**添加考试对话框**/
.add_test{ width:520px; height:480px; border:1px solid #dddddd; border-radius:5px; color:#767676; font-size:14px;}
.add_test .add_test_title{ width:480px; height:30px; line-height:30px; padding:10px 25px 10px 15px; border-bottom:1px solid #dddddd; position:relative;}
.add_test .add_test_title img{ position:absolute; top:20px; right:25px; cursor:pointer;}
.add_test .form1{ width:520px; height:319px; margin:0 auto;}
.add_test .form1 .add_int{ height:33px; width:385px; margin-left:70px; margin-bottom:15px; float:left;}
.add_test .form1 .add_int label{ text-align:right;line-height:33px; float:left;}
.add_test .form1 .add_int .add_inp, .add_inp_time{ width:308px; padding-left:10px;}
.add_test .form1 .add_int input{height:29px; line-height:29px; border:1px solid #dddddd; float:right; border-radius:5px; font-family:"微软雅黑"; font-size:14px; color:#767676; }
.add_test .form1 .add_int .add_int_num, .add_int_score, .add_int_year, .add_int_area, .add_int_endtime, .add_int_to{ float:left; width:165px;}
.add_test .form1 .add_int .add_int_num, .add_int_year{ margin-right:55px;}
.add_test .form1 .add_int .add_int_num .add_inp_num, .add_inp_score, .add_inp_year, .add_inp_area, .add_inp_endtime, .add_inp_totime{ width:88px; padding-left:10px;}

.add_test .form1 .add_int .add_int_choose{ width:320px; height:33px; background:#dddddd; float:right;cursor:pointer;border-radius:5px; text-align:center; line-height:33px; color:#767676;}
a:hover{ color:#767676;}
.add_test .form1 .add_int .add_inp_check{ float:left; margin-left:17px; width:15px; height:15px; margin-top:9px;}
.add_test .form1 .add_int span{ float:left; margin-left:10px; line-height:33px;}
.add_test .form1 .add_int .add_inp_endtime, .add_inp_totime{ width:128px;}
.add_test .form1 .add_timeto{ margin-left:35px; width:420px;}
.add_test .form1 .add_int .add_int_endtime{ width:240px;}
.add_test .form1 .add_int .add_int_to{ width:167px; margin-left:13px;}
.add_test .form1 .add_int .add_inp_totime{ width:128px;}
.add_test .form1 .add_int:nth-child(1){ margin-top:30px;}

.add_test .form1 .add_btn{ width:502px; height:33px;  line-height:34px; padding:8px 9px; float:left; background:#FAFAFA; margin-top:15px;}
.add_test .form1 .add_btn a.add_canal, a.add_new{ width:80px; height:33px; float:left; line-height:33px; text-align:center; border-radius:5px; color:#fff;}
.add_test .form1 .add_btn a.add_canal{ background:#B0B5B9; margin-left:334px; margin-right:8px;}
.add_test .form1 .add_btn a.add_new{ background:#3DC5B7;}
.add_test .form1 .add_btn a.add_canal:hover{ background:#767676;}
.add_test .form1 .add_btn a.add_new:hover{ background:#029992;}



*选择考试标签*

.selectModal_mark, .lable_mark{ width:360px; margin:0 auto; font-size:14px; z-index:1000; }
.selectModal_mark .modal_head, .modal_footer, .lable_head, .lable_footer{ width:330px; height:30px; line-height:30px; padding:10px 15px 10px 15px; position:relative; border-bottom:1px solid #DDDDDD;  background:#FAFAFA;	}
.selectModal_mark .modal_head img{ position:absolute; top:20px; right:25px; cursor:pointer;}
.selectModal_mark .modal_footer{ width:340px; height:33px; border-bottom:0; border-top:1px solid #DDDDDD; padding:8px 10px;}
.selectModal_mark .modal_footer input{ width:138px; height:31px; border:1px solid #dddddd; border-radius:5px; margin-right:5px; float:left; padding-left:10px;}
.selectModal_mark .modal_footer .modal_a{ float:left; width:78px; height:31px; border:1px solid #dddddd; text-align:center; line-height:31px; border-radius:5px;}
.selectModal_mark .modal_footer .modal_cannal,.modal_ok{ width:80px; border:0px; height:33px; line-height:33px; text-align:center; float:left; border-radius:5px; color:#fff;}
.selectModal_mark .modal_footer .modal_cannal{ margin-left:98px; background:#B0B5B9; margin-right:8px;}
.selectModal_mark .modal_footer .modal_ok{ background:#3DC5B7; color:#fff; position:absolute; right:10px;}

.selectModal_mark .modal-body{ width:300px; height:200px; max-height:500px; padding:10px 30px; background-color:#fff; overflow-x:auto;}
.order_first{ padding-top:10px;}
.order_usually{ padding:10px 0 0 18px; margin-left:3px;}
.level_switch,.checkbox_switch{ width:18px; height:18px; line-height:0; margin:0; display:inline-block; vertical-align:middle; border:0 none; cursor:pointer;outline:none; background-color:transparent; background-repeat:no-repeat; background-attachment:scroll; background-image:url(../images/modal_tree.png); margin-right:5px;}
.level_one{background-position:1px 0px; }
.level_two{background-position:1px -28px; }
.c_usually{background-position:1px -57px; }
.c_on{background-position:1px -92px; }
.c_ban{background-position:1px -127px; }
.mark_name{ cursor:pointer;}

/**黑屏**/
.black{ width:100%;background-color:#000; position:absolute; z-index:1001; top:0; left:0; display:none;filter:alpha(opacity=50); opacity:0.5;}



/**试卷排序**/
.paper_sort_main{ padding:8px 20px; color:#767676; font-size:14px;}
.paper_sort_title{ height:33px; line-height:33px;}
.paper_sort_title  span{ float:left;}
.paper_sort_title .inp_search{ width:308px; height:31px; border:1px solid #ddd; padding:0 0 0 10px; float:left; margin:0 7px 7px 10px;}
.paper_sort_title .sort_search{ width:80px; height:31px; line-height:31px; border:1px solid #ddd; float:left; text-align:center; color:#767676;text-decoration:none;}
.paper_sort_title .sort_search:hover{ width:80px; height:31px; line-height:31px; border:1px solid #ddd; float:left; text-align:center; color:#767676;text-decoration:none; background-color:#eeeeee;}

/**表格* */
.tab_01{ width:100%; border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.tab_01 tr{ line-height:38px;}
.tab_01 tr th,td{ text-align:left; font-weight:normal; border-left:1px solid #ddd; border-top:1px solid #ddd; text-indent:10px;}
.tab_01 tr .center_align{text-align:center; padding-left:10px;}

.tab_01 tr td .sort_select{ width:100px; height:30px; margin-left:5px; margin-bottom:4px; border:1px solid #ddd; color:#767676; font-size:14px; font-family:"微软雅黑"; cursor:pointer;}
.tab_01 tr td .sort_operate a{ color:#767676; text-decoration:none; cursor:pointer;}
.tab_01 tr td .sort_operate a:hover{ color:#1fb5ad; text-decoration:none; cursor:pointer;}
/**排序操作**/
.tab_01 tr  .sort_operate{ width:192px;}
/**标签操作**/
.tab_01 tr td .a_oper{ float:left; height:28px; line-height:28px; margin-right:5px; color:#767676; text-decoration:none; cursor:pointer;}
.tab_01 tr td .a_oper:hover{ float:left; height:28px; line-height:28px; margin-right:5px; color:#1fb5ad; text-decoration:none; cursor:pointer;}
.tab_01 tr td .add_lable{ float:left; width:140px; height:32px; line-height:32px; border:1px solid #ddd; margin:3px 0 3px 9px; cursor:pointer; text-indent:40px; color:#767676; text-decoration:none;}
.tab_01 tr td .add_lable:hover{ color:#1fb5ad; text-decoration:none; cursor:pointer;}
.tab_01 tr td .lable_icon{ background:url(../images/lable_list.png) no-repeat 12px -60px;}
.tab_01 tr td .lable_icon:hover{ background:url(../images/lable_list.png) no-repeat 12px -60px #eee;}

.tab_01 tr td .lable_qi, .lable_kai{ background:url(../images/lable_list.png) no-repeat 7px 10px; text-indent:55px; cursor:pointer; }
.tab_01 tr td  .lable_kai{ background:url(../images/lable_list.png) no-repeat 7px -25px; margin-left:30px;}

/*重写样式*/
.list-panel { color:#767676; font-size:14px;}
.list-panel .tree{
    margin-top: 50px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-width-value: 1px;
    width: 100%;
}
.list-panel .tree .thead {

}
.list-panel .tree .tbody {

}
.list-panel .tree .col1, .list-panel .tree .col2, .list-panel .tree .col3, .list-panel .tree .col4, .list-panel .tree .col5 {
    float: left;
    min-width: 100px;
    height:30px;
    line-height: 30px;
}

.list-panel .tree .thead .row {

    margin-left: 5px;
    min-width: 30px;
    min-height: 15px;
}

.list-panel .tree .tbody .row {
    float: top;
    margin-left: 5px;
    min-width: 30px;
    min-height: 15px;
}

.list-panel .tree .tbody .col1 {
    position: relative;
}
.list-panel .tree .row .col1 {  border: 1px solid #ddd;border-top:0px;border-right:0px;width: 230px;}
.list-panel .tree .row .col2 {  border: 1px solid #ddd;border-top:0px;border-right:0px;width: 100px;}
.list-panel .tree .row .col3 {  border: 1px solid #ddd;border-top:0px;border-right:0px;width: 100px;}
.list-panel .tree .row .col4 {  border: 1px solid #ddd;border-top:0px; width: 300px;}

.list-panel .tree .tbody .col1 {
    子级
    text-indent: 60px;
    position: relative;
}
.list-panel .tree .tbody>ul>li>.row>.col1 {
    顶级
    text-indent: 20px;
    position: relative;
}
.list-panel .tree .thead>ul>li>.row>.col1 {
    顶级
    text-indent: 20px;
}



/**分页**/
.page_left{ float:left;}
.page_right{ float:right; padding-right:5px;}
.page_right .page_num{ width:31px; height:31px; border:1px solid #ddd; padding-left:5px; margin:0 2px; position:absolute; top:4px; left:68px; line-height:31px;}
.page_right  .page_sp{ float:left; position:relative;}
.page_right  .page_top, .page_down{ float:left; width:31px; height:31px; border:1px solid #ddd; line-height:31px; margin-top:4px; margin-left:5px; color:#767676; text-decoration: none;}
.page_right  .page_top:hover, .page_down:hover{ background-color:#eee;}



/**标签管理弹窗**/
.lable_mark{ width:400px; height:250px; border:1px solid #EFF2F7; font-size:13px; color:#767676;box-shadow: #ddd 0px 0px 2px;}
.lable_mark .lable_head{ width:368px; border-radius:5px 5px 0 0; border-bottom:1px solid #EFF2F7;}
.lable_mark .lable_footer{ width:384px;border-radius:0 0 5px 5px; border-top:1px solid #EFF2F7; padding:9px 8px; border-bottom:0;}
.lable_mark .lable_head img{ position:absolute; right:20px; top:20px;}
.lable_mark .lable_body{ width:285px; height:89px; margin:30px auto;}
.lable_mark .lable_body .lable_name{ padding-top:10px; line-height:31px;}
.lable_mark .lable_body .lable_name input{ width:218px; height:29px; border:1px solid #ddd; border-radius:5px; margin-left:5px; margin-bottom:25px;}

.lable_footer .modal_cannal, .modal_ok{ width:80px; border:0px; height:33px; line-height:33px; text-align:center; float:left; border-radius:5px; color:#fff;}
.lable_mark .lable_footer .modal_cannal{ margin-left:216px; background:#B0B5B9; margin-right:8px;}
.lable_mark .lable_footer .modal_ok{ background:#3DC5B7; color:#fff;} 




.hd_header{}
.hd_head{width:980px;height:80px;margin:auto;}
.hd_header .hd_head a{display: block; padding-top: 10px;}
.hd_lg_contenter{width:100%; height:470px; background:url(../images/login_bg_admin.png) no-repeat center center;}
.hd_lg_content{width:980px;height:470px;margin:auto;}
.hd_lg_contents{width:980px;height:470px;margin:auto;}
.hd_lg_div{margin-top:50px;width:300px;height:350px;background:#fff;}

.hd_lg_div_top{height:60px;}
.hd_lg_div_top ul li{text-align:center;line-height:60px;cursor:pointer;font-size:18px;color:#767676;float:left;width:150px;height:60px;background:#fff;}

.hd_lg_div_top .a{background:#000;color:#fff;}

.hd_lg_div_input{margin:14px auto;width:268px;height:38px;border-radius:5px;border:1px solid #ddd;}
.hd_lg_div_input input{font-size:18px;font-family:"Microsoft Yahei";lcolor:#767676;height:22px;width: 200px; padding:7px 8px;border:0px;border-radius:5px;}


.hd_lg_div_ver{margin:auto;width:270px;height:40px;}
.hd_lg_div_ver_fl{border-radius:5px;width:173px;border:1px solid #ddd;height:38px;}
.hd_lg_div_ver_fl input{font-size:18px;width:150px;font-family:"Microsoft Yahei";lcolor:#767676;height:22px;padding:7px 8px;border:0px;border-radius:5px;}
.hd_lg_div_ver_fr{border-radius:5px;width:78px;border:1px solid #ddd;height:38px;}
.hd_lg_div_ver_fr input{font-size:18px;width:58px;font-family:"Microsoft Yahei";lcolor:#767676;height:22px;padding:7px 8px;border:0px;border-radius:5px;}

.hd_login_fun{font-size:14px;color:#767676;position:relative;width:270px;margin:auto;height:45px;line-height:45px;}
.hd_login_fun input{position:absolute;top:13px;left:0px;}
.hd_login_fun_fl{padding-left:25px;}

.hd_login_submit{cursor:pointer;width:270px;height:40px;border-radius:5px;color:#fff;background:#1fb5ad;font-size:18px;line-height:40px;text-align:center;margin:auto;}

.hd_error_info{width:270px;margin:10px auto;color:#ff0000;}


.hd_reg_submit{cursor:pointer;width:270px;height:40px;border-radius:5px;color:#fff;background:#00a0ce;font-size:18px;line-height:40px;text-align:center;margin:auto;}


.hd_lg_footer{}
.hd_lg_foot{width:980px;margin:40px auto;}
.hd_lg_foot_fl{width:600px;}
.hd_lg_foot_fr{width:370px;}

.hd_lg_foot_link ul{margin-left:-105px;}
.hd_lg_foot_link ul li{line-height:22px;color:#767676;float:left;margin-left:105px;}
.hd_lg_foot_cpright{margin-top:30px;line-height:22px;color:#767676; text-align: center;}


.reset_pwd_div{margin:auto;font-size:18px;width:610px;}
.reset_pwd_div div{float:left;}
.reset_pwd_div_tit{width:80px;line-height:42px;font-size:18px;color:#767674;}
.reset_pwd_div_input{border-radius:5px;width:270px;height:42px;background:#000;}
.reset_pwd_div_input input{font-family:"Microsoft Yahei";line-height:22px;height:22px;padding:10px 8px;background:none;width:240px;font-size:18px;color:#767674;border:0px;}
.reset_pwd_div_btn{cursor:pointer;margin-left:10px;border-radius:5px;width:120px;background:#1fb5ac;height:42px;line-height:42px;text-align:center;color:#fff;}
.reset_pwd_div_cancel{cursor:pointer;margin-left:10px;border-radius:5px;width:120px;background:#434248;text-align:center;line-height:42px;color:#767674;text-align:center;}

.reset_pwd_div_info{width:610px;margin:auto;color:#ff0000;line-height:32px;padding-left:85px;}

.hd_lg_contents_cen_txt{text-align:center;color:#767676;font-size:24px;padding-bottom:20px;}
.hd_lg_contents_cen_btn a{margin:auto;font-size:18px;border-radius:5px;display:block;width:120px;height:40px;background:#1fb5ac;text-align:center;line-height:40px;color:#fff;}

/*试卷、试题标签循环列表样式重构*/
ul{ list-style-type:none; padding:0; margin:0;}
.Tagtree{ margin:10px 20px 20px 20px; border:1px solid #ddd; border-top:0; font-size:14px; color:#767676;}
.Tagtree_thead{ overflow:hidden;}
.Tagtree_row{ overflow:hidden; border-top:1px solid #ddd;}
/*.clearfix{ overflow:hidden;}*/
.Tagtree_col1{ width:40%; float:left; height:40px; line-height:40px; text-indent:10px; border-right:1px solid #ddd; }
.Tagtree_col2{ width:15%; float:left; height:40px; line-height:40px; text-indent:10px; border-right:1px solid #ddd;}
.Tagtree_col3{ width:15%; float:left; height:40px; line-height:40px; text-indent:10px; border-right:1px solid #ddd;}
.Tagtree_col4{ width:29%; float:left; height:40px; line-height:40px; text-indent:10px; }

.Tagtree_icons{ background:url(../images/lable_list.png) no-repeat 7px 10px; cursor:pointer;}
.Tagtree_iconk{ background:url(../images/lable_list.png) no-repeat 7px -25px;cursor:pointer;}


.Tagtree_add{ height:40px; border-top:1px solid #ddd; text-indent:10px;}
.Tagtree_add .add_lable{ float:left; width:140px; height:32px; line-height:32px; border:1px solid #ddd; margin:3px 0 3px 9px; cursor:pointer; text-indent:35px; color:#767676; text-decoration:none;}
.Tagtree_add .add_lable:hover{ color:#1fb5ad; text-decoration:none; cursor:pointer;}
.Tagtree_add .lable_icon{background: url(../images/lable_list.png) no-repeat 12px -60px;}
.Tagtree_add .lable_icon:hover{background: url(../images/lable_list.png) no-repeat 12px -60px #eee;}

.Tagtree_col4 .a_oper{ cursor:pointer;}
.Tagtree_col4 .a_oper:hover{ cursor:pointer; color:#1fb5ad;}




.import_word_test{ background:#fff; border:1px solid #ddd; height:624px; min-width:512px; float:left;}
.import_word_test_top{ background:#EFF2F7;  height:48px; border-bottom:1px solid #ddd;}
.import_word_test_btn{ width:178px; height:35px; border:1px solid #ddd; margin:6px; background:#fff; color:#7f7f7f; font-family:"微软雅黑"; font-size:14px; cursor:pointer;}
.import_word_test_main{ overflow:scroll;}


/* 考试试卷预览试题卡 change2015-11-18 */
.fast_card{ 
	position: relative;
	}
.fastBtn{ 
	position: relative;
	}
.fastShowBtn{ 
	position: relative;
	}
.fastInfo{ 
	width: 150px;
    text-align: center;
    height: 22px;
    line-height: 22px;
    background-color: #1fb5ad;
    color: #fff;
    margin: auto;
    position: relative;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
	}
.fastLine{ 
	height: 5px;
    background-color: #1fb5ad;
    border-radius: 4px 4px 0 0;
    position: relative;
	width: 100%;
	}
.fastBottom{ 
	overflow: hidden;
	padding-bottom: 10px;
	}
.fastBottom ul{ 
	overflow: hidden;
    float: left;
    margin-left: 10px;
	min-width: 170px;
	}
.fastBottom ul li{	
	float: left;
    margin-top: 10px;
	margin-right: 10px;
	}
.fastBottom ul li a{
	width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
    background-color: #ddd;
    border-radius: 5px;
	}
.fastBottom ul li a:hover{
	width: 24px;
    height: 24px;
    display: block;
    text-align: center;
    line-height: 24px;
    background-color: #C3C3C3;
    border-radius: 5px;
	}
	
	





