.main{ max-width:1296px;}
/**试卷录入页面栏目**/
.paper_enter .column{ max-width:1256px; height:33px; padding:8px 20px; background:#fafafa; font-size:14px; border-bottom:1px solid #eff2f7; position:relative; }
.paper_enter .record_paper { width:auto; height:33px; line-height:33px; float:left; color:7f7f7f; float:left;}
.paper_enter .column ul { height:30px; padding:1px 0; float:left; position:absolute; right:388px;}
.paper_enter .column ul li { list-style:none; float:left;width:120px; height:30px; line-height:30px; text-align:center; border-radius:20px;-webkit-border-radius:20px; -moz-border-radius:20px; color:#b2b2b2; background:#eeeeee; margin-right:10px; cursor:pointer;}
.paper_enter .column .step { color:#fff; background:#1fb5ad;}
.paper_enter .column .return_list, .input_test { width:100px; height:33px; line-height:33px; text-align:center; position:absolute; border-radius:5px;-webkit-border-radius:5px; -moz-border-radius:5px;behavior: url(css/pie.htc);}
.paper_enter .column .return_list { right:126px; background:#b0b5b9;}
.paper_enter .column .input_test { right:20px; background:#1fb5ad;} 
.paper_enter .column  a{ color:#fff; padding:7px 21px;}

/********************试卷录入页面主体********************/
/**word**/
.paper_enter .content{ width:1256px; margin:9px 0 0 20px; border:1px solid #ddd; height:1000px;}
.paper_enter .import_word{  overflow:hidden; width:605px; height:1000px; background-color:#eff2f7; border-right:1px solid #ddd;}
.paper_enter .import_word .import_word_btn{ margin:105px auto 0; color:#767676; font-size:24px; width:219px; height:80px; text-align:center; line-height:80px; border:1px solid #ddd; display:block; }
.paper_enter .import_word p{ margin:7px 0 0 224px; width:219px; color:#8e8f90;}

/**entering**/
.paper_enter .paper_detail{ width:650px;}
.paper_enter .paper_detail .paper_info{ font-size:24px; color:#767676; width:620px; height:48px; margin:0 auto; line-height:48px;}
.paper_enter .paper_detail .paper_title{ margin-right:80px;}
.paper_enter .paper_detail .paper_num,.paper_enter .paper_detail .paper_sroce{ margin-left:30px; font-size:14px;}
.paper_enter .paper_edit .paper_item { width:498px; border-top:1px solid #ddd;}
.paper_enter .paper_edit .paper_item dt { border:1px solid #ddd; height:48px; border-left:none; border-top:none;}
.paper_enter .paper_edit .paper_item_slide { line-height:48px; position:relative; border-bottom:1px solid #ddd;}
.paper_enter .paper_edit .paper_drag_item { padding-left:1px; background:url(../images/paper_drag.png) no-repeat;display: block; width:13px; height:22px;cursor: pointer;position: absolute;top: 12px;  }
.paper_enter .paper_edit .paper_item_slide_tit{ padding-left:24px; font-size:24px; color:#1fb5ad;}
.paper_enter .paper_edit .paper_item_score { width:44px; height:42px; line-height:42px; position:absolute; top:2px;   margin-left:30px; font-size:18px; color:#767676; }
.paper_enter .paper_edit .paper_item_title { width:300px; line-height:44px; font-size:18px; color:#767676; position:absolute; top:2px; margin-left:76px; }
.paper_enter .paper_edit .paper_item_toggle{ width:20px; height:20px; display:block; margin:14px 22px 0 0;  cursor:pointer;  }
.paper_enter .paper_edit .paper_item_show { background:url(../images/paper_item_show.png) no-repeat; }
.paper_enter .paper_edit .paper_item_hide{ background:url(../images/paper_item_hide.png) no-repeat; }
.paper_enter .paper_edit .paper_item_del{ background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; display:block; margin:14px 10px 0 0;   cursor:pointer;  }
.paper_enter .paper_edit .paper_choice_del{ background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; display:block; margin:6px 10px 0 0;   cursor:pointer;  }
.paper_enter .paper_edit .paper_item_substance{width:497px; border-right:1px solid #ddd;}
.paper_enter .paper_edit .paper_choice{ padding:7px 0;  height:34px; border-bottom:1px solid #ddd; line-height:34px; font-size:18px; color:#767676;}
.paper_enter .paper_edit .paper_sel_letter{ padding-left:24px; width:30px; height:30px;}
.paper_enter .paper_edit .paper_edit_div{ margin-left:16px; padding-right:16px;}
.paper_enter .paper_edit .paper_choice_add{line-height: 48px; height:48px; border-bottom:1px solid #ddd; text-align:center; font-size:18px; color:#7f7f7f; cursor:pointer;}
.paper_enter .paper_edit .on { background-color:#ddd; border-radius:3px;  }

/**attr**/
.paper_enter .paper_item_attr .paper_attr_sel{ padding-left:10px;line-height: 48px; height:48px; border-bottom:1px solid #ddd;  font-size:18px; color:#7f7f7f; cursor:pointer;}
.paper_enter .paper_attr_sel span{ font-size:16px; color:#2ebab2; margin-right:110px;}
.paper_enter .pape_attr{  padding:2px 0 2px 20px; line-height: 48px; height:44px; border-bottom:1px solid #ddd;  font-size:18px; color:#7f7f7f; }
.paper_enter .pape_attr .attr{ font-size:16px; color:#2ebab2; margin-right:15px; float:left; line-height:44px;  }
.paper_enter .pape_attr .pape_attr_edit{ width:342px; line-height:44px; float:left;}
.paper_enter .pape_attr .paper_attr_del{background:url(../images/paper_item_del.png) no-repeat; width:20px; height:20px; display:block; margin:10px 10px 0 0;   cursor:pointer;}



/**group**/
.paper_enter .paper_edit .paper_group { width:152px; border-top:1px solid #ddd; height:40px; }
.paper_enter .paper_edit .paper_group_view{ height:27px; line-height:27px;border-bottom:1px solid #ddd; text-align:center;}
.paper_enter .paper_edit .paper_group_name li{ height:20px; line-height:20px; border-bottom:1px solid #ddd; text-align:center;}



 


