@charset "utf-8";
/**头部**/
body{ font-family:"微软雅黑";overflow-x:hidden}
.ti_header{ width:100%; background:#fff; font-size:12px; margin-bottom:20px; }
.ti_header_top{ width: 100%; font-size: 12px; position: relative; background: #eee;}
.header_Top{ width:980px; height:36px; line-height:36px; margin:0 auto;}
.header_Top .top_left{width:102px; padding-right:28px; text-align:center; cursor:pointer;color:#505050;}
.header_tab{ position:absolute; width:100%; top:36px; height:36px; background:#D6D6D6;z-index:2;}
.header_tab .type_tab{ width:980px; margin:0 auto; height:36px; line-height:36px;}
.header_tab .type_tab a{ float:left; padding:0 15px;color:#505050;}
.header_tab .type_tab a:hover{color:#9BC83C;}
.header_Top .icon_01{ background:#d6d6d6 url(../images/ti_head_001.png) no-repeat 103px 10px;}
.header_Top .icon_001{ background:#d6d6d6 url(../images/ti_head_01.png) no-repeat 103px 11px;}

.top_right ul li{float:left;color:#505050;}
.top_right li{ margin-left: 5px;}
.top_right ul li a{color:#505050;}

.ti_user_list{min-width: 70px;cursor: pointer; position: relative;padding: 0 18px 0 22px }
.ti_user_txt{font-size:14px;text-align:center;line-height:36px;}
.ti_user_txt .img_01{ margin-right: 2px; position: absolute; left: 8px;top: 12px;}
.ti_user_txt .img_02{ margin-left: 2px; margin-bottom: 2px; position: absolute; right: 8px; top: 16px;}
.ti_user_list dl{position:absolute;width:110px;top:36px;left:4px;background:#E5E4E4;padding-bottom:1px;}.ti_user_list .dl_down { background: url(../images/ma_dl_bg.png) no-repeat; padding-top:14px;}
.ti_user_list dl dt{line-height:36px; text-align: center; cursor: pointer;}
.ti_user_list dl dt a{ color: #fff; display: block;}
.ti_user_list dl dt:hover{ background: #009245;}
.ti_user_list dl dt a:hover{color: #fff;}
.ti_user_list .a{background:url(../images/ti_head_03.png) no-repeat 90px 18px;}
.ti_user_list .ti_exit{ /* border-top:1px solid #ACDC80; */}

.ti_user_info{
    position: relative;
    cursor: pointer;
    text-indent:8px;
    line-height:36px;
    width: 52px;
    height:36px;
    margin-right: 10px;
}

.ti_user_info_num{
    position:absolute;top:11px;text-indent:0px;text-align:center;
    right:0px;width: 14px; height:14px;color: #fff; 
    line-height:14px;border-radius:2px;background:#e88c30;
}
.top_right ul li{float:left;color:#505050;margin-left: 15px;}
.top_right ul li a{color:#000;}
.top_right .ti_weixin{position:relative;}
.top_right .ti_weixin a:hover{color:#505050;}
.top_right .ti_weibo{position:relative;}
.top_right .ti_weixin .wx{position:absolute;width:220px;height:60px;border:2px solid #EEEEEE;top:36px;right:0;padding:2px;z-index:6000;background-color:#fff;}
.top_right .ti_weixin .wx img{margin:2px;}
.top_right .ti_weixin .wx .left{float:left;width:58px;}
.top_right .ti_weixin .wx .right{float:left;margin-left:4px;padding:0px;width:124px;height:60px;padding-top:5px;}
.top_right .ti_weixin .wx .right p{color: #888888;font-size: 12px;padding: 0 5px;line-height: 24px;}
.top_right .ti_weibo .wb{position:absolute;width:208px;height:60px;border:2px solid #EEEEEE;top:36px;right:0;padding:2px;background-color:#fff;}
.top_right .ti_weibo .wb .left{float:left;width:58px;}
.top_right .ti_weibo .wb .right{float:left;margin-left:7px;padding:0px;width:120px;height:60px;padding-top:5px;}
.top_right .ti_weibo .wb .right p{color: #888888;font-size: 14px;padding: 0 3px;line-height: 24px;text-align:center;}
.top_right .ti_app{position:relative;}
.top_right  .ti_app  .mobile .left{float:left;width:58px;}
.top_right  .ti_app  .mobile .right{float:left;margin-left:4px;padding:0px;width:100px;height:60px;padding-top:5px;}
.top_right  .ti_app  .mobile .right p{color: #888888;font-size: 14px;padding: 0 5px;line-height: 24px;}
.top_right .ti_app  .mobile{ position:absolute;width:178px;height:60px;border:2px solid #EEEEEE;top:36px;right:0;padding:2px;z-index:5000;background-color:#fff;}
.top_right  .ti_app  .mobile img{margin:2px;}


.ti_header .header_type{ width: 100%; height:52px; padding:25px 0 24px 0; background:#fff;}
.ti_header .header_type .header_type_list{ width:980px; height:52px; margin:0 auto; line-height:52px;}
.header_type_list .logo{ min-width:255px; height: 52px; float:left; z-index:1;}
.header_type_list .logo span{ display:inline-block; color:#009245; font-size: 18px; float: right;padding-right: 5px;}

.header_type_list .sild_list{ float:left; margin-left:100px;}
.header_type_list .sild_list li{ float:left; margin-right:40px; font-size:18px;}
.header_type_list .sild_list li a{ float:left; color:#aeaead;}
.header_type_list .sild_list .li_act a{ color:#464646;}
.header_type_list .sild_list .li_select a{ color:#464646;}
.header_type_list .sild_list li .sp{ border-left:1px solid #ddd; width:1px; float:left; height:21px; margin-top:15px; margin-right:30px;}
.header_type_list .sild_list .sild_test{ margin-right:30px;}

.ti_weixin a,.ti_weibo a{color:#505050;}

/**模块css**/
/**组卷弹窗**/
.ti_zujuan{ width:360px; height:160px; background:#fff;z-index:10000;display:none;position:absolute;left:40%; top:200px;border:1px solid #ccc;border-radius:5px;}
.ti_zujuan  img{ margin-left:90px; margin-top:36px; float:left}
.ti_zujuan .loading_info{ margin-left:5px; float:left; margin-top:78px; font-size:14px; font-weight:bold; color:#000;}
.ti_confirm{background:#fff;width:284px;padding-left:30px;padding-right:30px; border-radius:5px;}
.ti_confirm img{ position:absolute; right:15px; top:15px; cursor:pointer;}
.ti_confirm_txt{padding-top:40px;font-size:14px; font-weight:bold;color:#000;text-align:center;}
.txt_title{ height:30px;}
a{color:#fff;}
.ti_confirm_submit, .ti_confirm_know, .ti_confirm_ok, .ti_confirm_yes{width:116px;height:30px;background:#009245;text-align:center;line-height:30px;border-radius:5px;cursor:pointer;}
.ti_confirm_submit:hover, .ti_confirm_know:hover, .ti_confirm_ok:hover, .ti_confirm_yes:hover,  .ti_bind_ok a:hover, .ti_gufen a:hover{ background:#009245;}
.ti_confirm_continue, .ti_confirm_cancle, .ti_confirm_cal{width:158px;height:30px;background:#E88C30;text-align:center;line-height:30px;}   
.ti_confirm_continue:hover, .ti_confirm_cancle:hover, .ti_confirm_cal:hover{ background:#C86808;}

.ti_confirm_know{ width:136px; margin-left:74px;}
.ti_confirm p{ padding-top:40px; line-height:18px; font-size:12px; font-family:"微软雅黑"; color:#606060; padding-bottom:25px;}     
.ti_confirm_btn{ padding-bottom:20px; font-size:14px;padding-top:20px;}         
.ti_confirm .p1{ padding-top:0;}
    
.ti_confirm_ok, .ti_confirm_cancle{ width:136px;border-radius:0px;} 
.ti_confirm_btn .ti_confirm_yes, .ti_confirm_cal, .ti_confirm_next{ width:88px; height:30px; margin-right:10px;}    
.ti_confirm_next{ margin-right:0; background:#50CBAD; text-align:center; line-height:30px;} 


.ti_info_btn{ font-size:14px;}
.ti_confirm_info{ width:282px; height:124px; background:url(../images/model_bg.png) no-repeat; padding:0 30px;position: absolute;top: 30px;left: -40px;}
.ti_confirm_info p{ font-size:12px; color:#606060; font-family:"微软雅黑"; line-height:18px; padding-top:30px; padding-bottom:10px;position: relative;}
    
    
.ti_bind{ width:370px; padding:35px 30px 40px; background:#fff; position:relative;}
.ti_bind img{ position:absolute; top:15px; right:15px;}
.ti_bind_tishi{ line-height:24px; color:#6b9d00; margin-bottom:13px; font-weight:bold; font-size:14px;} 
.ti_bind_inp{ margin-bottom:15px;}
.ti_bind_inp .inp_yanzheng{ width:243px; height:41px; background:url(../images/model_yz.png) no-repeat 0px 0px; position:relative;}
.ti_bind_inp  .inp_yanzheng .text_phone{ border:0; width:204px; line-height:20px; padding:8px 0; position:absolute; left:38px; margin-top:2px; margin-right:2px;}


.ti_bind_right{ width:113px; height:41px; background:#E88C30; font-size:12px; font-family:"微软雅黑"; color:#fff; line-height:41px; text-align:center; cursor:pointer;}
.ti_bind_yanzm{ width:370px; height:41px; background:url(../images/model_yz.png) no-repeat 0 -50px; position:relative; margin-bottom:15px;}
.ti_bind_yanzm .ti_yanzm{ width:330px; border:0; line-height:20px; padding:8px 0; position:absolute; left:38px; margin-top:2px; margin-right:2px;}
.ti_bind_ok{ width:370px; height:40px;}
.ti_bind_ok a{ float:left; width:370px; height:40px; background:#009245; font-size:14px; color:#fff; line-height:40px; text-align:center;}
.log_paiming{ width:380px; height:92px; position:relative;}     
.log_paiming .ti_paiming{ top:0; left:0;}
.log_moedel p{ line-height:22px; margin-top:15px; margin-bottom:5px; font-size:12px; font-family:"微软雅黑";}
    
    

.ti_gufen{ width:700px; height:450px; background:url(../images/ti_gufen.png) no-repeat; position:relative;}
.ti_gufen img{ position:absolute; top:10px; right:10px;}

.ti_gufen .ti_gufen_to{ float:right; position:absolute; right:30px; bottom:30px; width:136px; height:56px; background:#009245; line-height:56px; text-align:center; font-size:24px;}

            
.ti_dati{ background:url(../images/loading_go_on.png) no-repeat; width:650px; height:452px; position:relative;}
.ti_continue{ position:absolute; width:132px; height:40px; background:#009245; line-height:40px; text-align:center; color:#fff; font-size:18px; right:50px; bottom:85px;}
.ti_continue:hover{ background:#009245;}


.ti_jiucuo{ width:370px; height:240px; padding:40px 30px; background:#fff; position:relative;}
.ti_jiucuo img{ position:absolute; top:15px; right:15px;}
.ti_jiucuo .ti_jiucuo_title{ height:14px; font-size:14px; font-weight:bold; color:#000; margin-bottom:15px;}
.ti_jiucuo .ti_jiucuo_title span{ color:#009245;}
.ti_jiucuo_type, .ti_jiucuo_choice, .ti_jiucuo_content{  line-height:22px; color:#606060; font-size:12px; font-family:"微软雅黑"; margin-bottom:8px;}
.ti_jiucuo_type label{ padding:4px 4px 4px 17px;  margin-right:2px; cursor:pointer;}
.ti_jiucuo_type .radios{ display:inline;}
.has-js label input{ position:absolute; left:-9999;}
.has-js .ti_label_01{background:url(../images/ti_jiucuo_radio.png) no-repeat; }
.has-js .ti_label_01{ background-position:0 4px;}
.has-js label.ti_label{ background-position:0 -57px;}





.ti_jiucuo_choice { height:28px; margin-bottom:15px; position:relative;}
.ti_jiucuo_choice .ti_jiucuo_selected{ width:116px; height:26px; border:1px solid #ddd; padding-left:10px; line-height:28px; float:right; margin-right:174px; cursor:pointer;}
.ti_jiucuo_choice  .select_icon{ background:url(../images/ti_select_down.png) no-repeat 104px 2px;}
.ti_jiucuo_choice  .select_icon_01{ background:url(../images/ti_select_up.png) no-repeat 104px 2px;}
.ti_jiucuo_choice  ul{ position:absolute; top:29px; left:68px; width:128px; padding:10px 0; background:#E5E5E5;}
.ti_jiucuo_choice  ul li{ line-height:24px; padding-left:10px; cursor:pointer;}
.ti_jiucuo_choice  ul li:hover{color:#70a900;}
.ti_jiucuo_choice .ti_selected_li{ color:#70a900;}
.ti_jiucuo_content{ margin-bottom:15px;}
.ti_jiucuo_content span{ margin-bottom:40px; float:left;}
.ti_jiucuo_content textarea{ float:left; width:280px; height:81px; padding:5px 10px; line-height:18px;}
.ti_jiucuo_btn{ height:30px; margin-left:60px;}
.ti_jiucuo_btn .ti_btn_tijiao, .ti_btn_cancle{ width:137px; height:30px;line-height:30px; text-align:center; float:left;}
.ti_jiucuo_btn .ti_btn_tijiao{ background:#A8D057; margin-right:10px;}
.ti_jiucuo_btn .ti_btn_cancle{ background:#EB9948; }
.ti_jiucuo_btn .ti_btn_tijiao:hover{ background:#009245;}
.ti_jiucuo_btn .ti_btn_cancle:hover{ background:#C86808;}
/**弹窗集合**/
/**分页css**/
.page_div {float:right;margin:20px 45px;}
.page_div .current{background:#009245;float:left;color:#fff;width:30px;height:30px;line-height:30px;border-radius:5px;text-align:center;margin-right:5px;}
.page_div a{float:left;background:#E7E7E7;color:#b1b1b1;width:30px;height:30px;line-height:30px;border-radius:5px;text-align:center;margin-right:5px;}
.page_div .nostyle{float:left;background:#E7E7E7;color:#b1b1b1;width:30px;height:30px;line-height:30px;border-radius:5px;text-align:center;margin-right:5px;}
/**分页结束**/



/* 多选题答题提示 */

.pop-up{width:288px;position:absolute;margin-left:40px;margin-top:20px; font-size: 14px;}
.pop-img{margin-left:20px;background:url(../images/pop-up.png) no-repeat;width:16px;height:8px;}
.pop_center{background:#ffffcc;border-radius:5px;width:288px;height:65px; font-size: 14px;}

.pop_center span{ font-size: 14px;}
.pop_center a{ font-size: 14px;}

.pop_padding{padding:8px 0 8px 12px;color:#000;}
.pop_padding img{vertical-align:middle;margin-right:5px;}
.pop_btn{display:block;float:right;margin-right:10px;border:1px #bfa46a solid;border-radius:5px;height:20px;line-height:20px;text-align:center;color:#907209;}
.pop-colse{width:40px;}
.pop-hint{width:90px;}


.mchoice_skip{display: block;right:620px;position: absolute;width: 120px;height: 36px;line-height: 36px;background: #f1faf8;
border-radius: 5px;text-align: center;color: #009245; cursor:pointer;}
.mchoice_skip:hover{background:#d8e1df;}



.ti_header .header_menu{ width:100%; height:46px;background:#009245;}
.ti_header .header_menu ul li{color:#fff;float:left; width:179px; line-height:46px; text-align:center; font-size:18px; border-right:1px solid #00803C; cursor:pointer;}
.header_menu .heade_nav{ width:979px; height:46px; margin:0 auto; border-left:1px solid #00803C; }
.header_menu .heade_nav .nav_select{ /*background:url(../images/iteam_on.png); border:0; */ width:180px; background-color:#00AF53;}
/*.header_menu .heade_nav .nav_default{ color:#9bc83c;}*/
.header_menu .heade_nav .nav_practise img{ margin-left:5px;}
.header_menu .heade_nav .nav_practise span{ color:#fffd3c;}

/**内容**/
.ti_container{ width:980px; margin:0 auto;}
.ti_content{ width:990px; margin:0 auto;margin-bottom:10px; margin-right:-10px;}
.ti_content .con_test{ width:268px; height:206px; padding:38px 21px 34px 29px; border:1px solid #ddd; background:#fff; margin-right:10px; float:left; margin-bottom:10px;}
.ti_content .con_test:hover{background:#F5F5F5;}
.ti_content .test_03{ margin-right:0;}
.ti_content .con_test .test_top{ height:168px; margin-bottom:10px;}
.ti_content .con_test .test_top img{float:left; margin-right:20px;cursor:auto}
.ti_content .con_test .test_top .test_top_right, .test_top_right_01{ float:right; width:168px; height:168px; font-size:14px; color:#b2b2b2;}
.ti_content .con_test .test_top .test_top_right h3{ font-size:18px; color:#000; font-weight:normal;}
.ti_content .con_test .test_top .test_top_right p{ line-height:24px; margin-top:12px; display:block;}
.ti_content .con_test .test_top .test_top_right .fr_h{ color:#c9c9c9;}
.ti_content .con_test .test_top .test_top_right .fr{ color:#e6e6e6;}
.ti_content .con_test .test_bottom{ float:left; margin-left:57px;width:146px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#fff; background:#009245;cursor:pointer;}
.ti_content .con_test .test_qidai{ background:#E4E4E4;}
.ti_content .con_test .test_bottom:hover{ background:#00B957;}
.ti_content .con_test .test_qidai:hover{ background:#E4E4E4;}

/**尾部**/
.ti_footer{ width:100%; height:53px; padding:50px 0; background:#fff;}
.ti_footer .foot{ width:980px; height:53px; margin:0 auto;}
.ti_footer .foot .foot_left{ width:337px; margin-left:30px; float:left; border-right: 1px solid #D1D1D1;}
.ti_footer .foot .foot_right{ width:534px; float:left; margin-left:48px;}
.ti_footer .foot .foot_rightAdd{width: auto;float: none}
.ti_footer .foot .flinks,.flinks a,.copyright{color:#666;line-height:22px; font-family:"微软雅黑";}



/**我的练习**/
.pra_content{ width:978px; min-height:960px; margin:0 auto; border:1px solid #DEDEDE; background:#fff; margin-bottom:20px;}
.pra_content .title_list{ height:64px; margin:0 29px; border-bottom:1px solid #E8E8E8;}
.pra_content .title_list li{ color:#848484; width:118px; text-align:center; line-height:63px; font-size:14px; float:left; cursor:pointer; font-weight:bold;}
.pra_content .title_list li a{ color:#848484;width:100%;height:100%;display:block;}
.pra_content .title_list .li_select{ border-bottom:2px solid #009245;color:#009245;}
.pra_content .pra_list{ width:880px; margin:0 auto; height:67px;   border-bottom:1px solid #E8E8E8; line-height:67px; font-size:12px;}
.pra_content .f1{ height:46px; text-align:right; line-height:46px; color:#c7c7c7;}
.pra_content .pra_list .pra_list_left{ float:left; max-width:700px;height:37px; line-height:37px; margin:15px 0;}
.pra_content .pra_list .pra_btn:hover{ background:#009245;}
.pra_content .pra_list .pra_list_left div{ font-size:14px; line-height:14px; color:#191919; margin-bottom:10px;}
.pra_content .pra_list .pra_list_left span{ line-height:14px; color:#b2b1b1; float:left; margin-right:20px;}
.pra_content .pra_list .pra_btn{ float:right; width:112px; height:30px; background:#9BC83C; color:#fff; margin:18px 0; text-align:center; line-height:30px; font-size:14px;}
.pra_content .pra_list .pra_a{ float:right; margin-left:25px; color:#009245; font-size:14px; line-height:20px; margin-top:26px;}
.pra_content .pra_list .pra_a:hover{ color:#009245; text-decoration:underline;}




/**分页**/
.pra_content .pra_page{ margin:20px 49px;}
.pra_content .pra_page li{ float:left; background:#E7E7E7; border-radius:5px; margin-right:10px;}
.pra_content .pra_page li a{ float:left; width:30px; height:30px; line-height:30px; text-align:center; color:#b1b1b1;}
.pra_content .pra_page .page_select{ background:#B7D082;}
.pra_content .pra_page .page_select a{ color:#fff;}


/**我的收藏本**/

.pra_content .pra_main_action .list_title{padding-left:30px; cursor:pointer; color:#404040; font-size:14px;}
.pra_content .pra_main_action .fr_a{ width:111px; height:30px; line-height:30px; text-align:center; background:#9BC83C; color:#fff;}
.pra_content .pra_main_action ul{ width:880px; margin:0 auto;}
.pra_content .pra_main_action li{ line-height:64px;}
.pra_content .pra_main_action li .tk_tab_list div {font-size: 14px;color: #191919; text-align:left;height: 64px;line-height:64px;}
.pra_content .pra_main_action li .tk_tab_1{ cursor:pointer; text-indent:30px; width:769px; border-bottom:1px solid #ddd;}
.pra_content .pra_main_action li .tk_tab_5{ float:right;border-bottom:1px solid #ddd; width:111px;}
.pra_content .pra_main_action li .tk_tab_5 .check_a{ float:right;}
.pra_content .pra_main_action li .tk_tab_5 .ti_a{ float:right; width:111px; text-align:center; height:30px; background:#009245; margin-top:20px; line-height:30px; color:#fff;}
.pra_content .pra_main_action li .tk_tab_5 .ti_a:hover{ background:#00AF53;}
.pra_content .pra_main_action li .tk_tab_5 a{ color:#009245;}
.pra_content .pra_main_action ul  .noa{ background:url(../images/iteam_list_01.png) no-repeat left;}
.pra_content .pra_main_action ul  .a{ background:url(../images/iteam_list_02.png) no-repeat left;}
.pra_content .pra_main_action ul li ul li ul li .tk_tab_1{ background:url(../images/iteam_list_03.png) no-repeat left;}
.pra_content .pra_main_action ul li ul li .tk_tab_1{text-align: left;text-indent: 60px;}
.pra_content .pra_main_action ul li ul li .noa{ background:url(../images/iteam_list_01.png) no-repeat 30px center;}
.pra_content .pra_main_action ul li ul li .a{ background:url(../images/iteam_list_02.png) no-repeat 30px center;}
.pra_content .pra_main_action ul li ul li ul li .tk_tab_1{text-align: left;text-indent: 90px;}
.pra_content .pra_main_action ul li ul li ul li .tk_tab_1{ background:url(../images/iteam_list_03.png) no-repeat 60px center;}





/**登录**/
.log_head{ width:100%; background:#F7F7F7; height:70px;}
.log_head .log_img{ width:980px; margin:0 auto;}
.log_content{ width:100%; height:552px; background:url(../images/login_bg_02.png) no-repeat center center;}
.log_content .log_con{ width:980px; height:552px; margin:0 auto;}
.log_content .log_con .log_left{ width:380px; height:252px; padding:50px 30px 68px; margin:92px 0 0; float:left; background:#fff;position: relative;}
.log_content .log_con .log_right{ width:490px; height:370px; margin:92px 0 0 50px; float:right;}

.log_content .log_left input{ border:0px;width:340px;line-height:20px; padding:8px 0px;float:right; margin-right:2px;color:#acacac;opacity:1; font-size:12px; position:absolute; top:1px; left:38px;display:inline;}
.log_left .login_title{ width:380px;line-height:18px; font-size:18px; color:#010101; margin-bottom:20px;}
.log_left .form_login .inp{ background-image:url(../images/login.png); background-repeat:no-repeat;}
.log_left .form_login .inp{ width:380px; height:38px;}
.log_left .form_login .inp_account{ background-position:0px 0px; margin-bottom:15px; padding-top:2px; position: relative;}

.log_left .form_login .inp_pass{background-position:0px -150px; margin-bottom:20px; padding-top:2px; position: relative;}

.log_left .form_login .Cinput{position:relative;width:380px;height:12px;line-height:12px; margin-bottom:20px; font-size:12px;}
.log_left .form_login .Cinput .C-zidong{left:6px;height:12px; width:100px; height:12px; position:absolute; color:#999999;}
.log_left .form_login .Cinput .C-forget{left:10px;height:12px; width:100px; height:12px;  left:280px;position:absolute; text-align:right;}
.log_left .form_login .Cinput label{position:relative;float:left;width:130px;display:block; margin-left:10px; color:#aaaaaa;}
.log_left .form_login .Cinput a{color:#5a5a5a;font-family:"微软雅黑";}
.log_left .form_login .Cinput .checkInput{margin:0;padding:0;width:12px;height:12px; float:left; position:absolute; top:0; left:0;}
.log_left .form_login .btn_login{ width:380px; height:40px;margin-bottom:15px;}
.log_left .form_login .btn_login .btn_re:hover{ background:#009245;}
.log_left .btn_login .btn_re{width:380px; height:40px;color:#fff; background:#009245; float:left; text-align:center; line-height:40px;font-size:16px; font-weight:bold;}
.log_left .form_login .Cinput .no_account{ width:auto; height:12px; position:absolute; right:0; color:#666666;display:block; font-family:"微软雅黑";}
.log_left .form_login .Cinput .regist{ color:#009245;}
.log_left .form_login .Cinput a:hover{ text-decoration:underline; color:#009245;}
.log_left .form_login .Cinput .no_account img {margin-left:10px;}
.log_left .form_login .Cinput .otherlogin {font-size:12px;position: absolute;left:0;padding-top:14px;}
.m_qq,.m_weixin,.m_weibo{cursor: pointer;}

/*注册*/
.log_content .log_con .reg_le{ height:398px; background:#fff; margin-top:35px; padding:50px 30px 54px;}
.log_left .fr_1{ margin-bottom:0;}
.log_left .re_tab{ width:380px; height:54px; margin-bottom:20px; border-bottom:1px solid #E6E6E6;}
.log_left .re_tab li{ width:118px; height:53px; float:left; text-align:center; line-height:53px; font-weight:bold; font-size:14px; color:#848484; cursor:pointer;}
.log_left .re_tab .li_p{ color:#009245; border-bottom:2px solid #009245;}
.log_left .re_tab .li_p a{ color:#fff;}
.log_left .form_register .inp_phone{background-position:0px -300px; margin-bottom:15px; padding-top:2px; position: relative;}
.log_left .form_register .inp{ background-image:url(../images/login.png); background-repeat:no-repeat;}
.log_left .form_register .inp{ width:380px; height:38px;}
.log_left .form_register .inp_account{ background-position:0px 0px; margin-bottom:15px; padding-top:2px; position: relative;}
.log_left .form_register .inp_pass{background-position:0px -150px; margin-bottom:15px; padding-top:2px; position: relative;}
.log_left .form_register .inp_yanz{background-position:0px -600px; padding-top:2px; width:220px; height:40px; float:left; position: relative;}
.log_left .form_register .inp_yanz .text_yanz{ width:180px;}
.log_left .form_register .inp_div{ width:380px; height:40px; margin-bottom:15px;}
.log_left .form_register .inp_div .right{cursor: pointer;text-align: center;line-height: 40px;color: #00b18f;float: right;width: 110px;height: 40px;background: #f1faf8;}
.log_left .form_register .inp_div .get_num{cursor: pointer;text-align: center;line-height: 40px;color:#fff;float: right;width: 110px;height: 40px;background:#E88C30;}
.log_left .form_register .btn_register{ width:380px; height:40px;margin-bottom:15px;}
.log_left .form_register .btn_register .btn_re{width:380px; height:40px;color:#fff; background:#009245; text-align:center; line-height:40px;font-size:16px; font-weight:bold;}
.log_left .form_register .btn_register .btn_re:hover{ background:#009245;}
.log_left .form_register .btn_register a{ padding:12px 173px;color:#fff; font-size:16px; font-weight:bold;}
.log_left .form_register .Cinput{position:relative;width:380px;height:12px;line-height:12px; margin-bottom:20px; font-size:12px;}
.log_left .form_register .Cinput .has_account{  width:auto; height:12px; position:absolute; right:0; color:#666666;display:block; font-family:"微软雅黑";}
.log_left .form_register .Cinput .regist{ width:auto; height:12px; color:#9cc93b;}
.log_left .form_register .Cinput .regist:hover{ text-decoration:underline;color:#009245;}
.log_left .form_register .inp_email{background-position:0px -450px; margin-bottom:15px; padding-top:2px; position: relative;}


.log_left .errorbg{ position:absolute; width:auto; height:36px; text-align:center; line-height:36px; color:#F00; right:10px; z-index:10;}

.error { color: #F00 !important;}
.success { color:#00b18f !important;}

.placeholder{color:#acacac;}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#acacac;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#acacac;
}
:-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#acacac;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#acacac;
}




/**能力评估报告**/    
.rep_content{ width:990px; margin:0 auto; margin-bottom:20px; margin-right:-10px;}
.rep_content .rep_top .rep_divine{ float:left; width:483px; height:360px; border:1px solid #ddd; background:#fff; margin:0 10px 10px 0;}
.rep_content .rep_top .rep_divine .rep_divi_title{ height:57px; line-height:57px; text-align:center; font-size:18px; color:#191919; background:#F4F4F4;}
.rep_content .rep_top .rep_divine .rep_le{ float:left; width:190px; margin-left:50px; font-size:14px; color:#b2b2b2;}   
.rep_content .rep_top .rep_divine span{ color:#009267;}
.rep_content .rep_top .rep_divine .rep_rg{ float:left; margin-left:10px; font-size:14px;}
.rep_content .rep_top .rep_divine .rep_score{ width:483px; height:160px; margin:50px 0 30px 0; position:relative;}
.rep_content .rep_top .rep_divine .ans_count{ width:483px; height:160px; margin:50px 0 30px 0; position:relative;font-size:30px; color:#009245;text-align:center;line-height:160px;}
.rep_content .rep_top .rep_divine .rep_score .sp_02, .sp_01{ position:absolute; top:50%; left:50%; margin-top:-15px; margin-left:-32px; font-size:30px; color:#009245;}
.rep_content .rep_top .rep_divine .rep_score .sp_02{ margin-left:-25px; margin-top:-25px;}
.rep_content .rep_top .rep_divine .item_03{ background:url(../images/item-tu-01.png) no-repeat center center;}
.rep_content .rep_top .rep_divine .item_04{ background:url(../images/item-tu-02.png) no-repeat center center;}

#box, #box1{width:160px;height:160px;line-height: 160px;text-align: center;position:absolute;left:33%;background:url(../images/yuanquan.png); color:#009245; font-size:30px;}



/**知识点掌握情况**/
.rep_content .rep_bottom{ border:1px solid #ddd; width:980px; margin-right:10px;}
.rep_content .rep_bottom .rep_point{ height:56px; background:#F4F4F4; font-size:18px; text-align:center; line-height:56px; color:#191919; font-weight:bold;}
.rep_bottom .point_main{ background:#fff; padding-bottom:35px;}
.rep_bottom .point_main .point_ul{ width:920px; margin:0 auto; height:65px; border-bottom:1px solid #ddd; margin-bottom:20px;}
.rep_bottom .point_main .point_ul li{ float:left; height:64px; line-height:64px; text-align:center; width:161px; font-size:14px; color:#848484; cursor:pointer; font-weight:bold;}
.rep_bottom .point_main .point_ul .li_select{ border-bottom:2px solid #009245; color:#009245;}




/**知识点能力量表**/
.point_01 .tk_answer_list{width:878px;border:1px solid #e4e4e4;border-bottom:0px; margin:0 auto; margin-bottom:20px;}
.point_01 .tk_answer_list_top{width:880px;font-size:14px;color:#191919;background:#F4F4F4;height:43px;text-align:center;line-height:43px;}


.point_01 .tk_answer_list_bottom{width:880px;}
.point_01 .tk_answer_list_bottom ul li ul{ }
.point_01 .tk_answer_list_bottom ul li ul li ul{ }
.point_01 .tk_answer_list_bottom ul li .tk_tab_1{text-align:left;text-indent:60px;}
.point_01 .tk_answer_list_bottom ul .noa{background:url(../images/iteam_list_01.png) no-repeat 30px center;}
.point_01 .tk_answer_list_bottom ul .a{background:url(../images/iteam_list_02.png) no-repeat 30px center;}
.point_01 .tk_answer_list_bottom ul li ul li .noa{background:url(../images/iteam_list_01.png) no-repeat 60px center;}
.point_01 .tk_answer_list_bottom ul li ul li .a{background:url(../images/iteam_list_02.png) no-repeat 60px center;}
.point_01 .tk_answer_list_bottom ul li ul li .tk_tab_1{text-align:left;text-indent:90px;}
.point_01 .tk_answer_list_bottom ul li ul li ul li .tk_tab_1{text-align:left;text-indent:120px;background:url(../images/iteam_list_03.png) no-repeat 90px center;}
.tk_tab_list div{font-size:14px;color:#191919;float:left;text-align:center;height:43px;line-height:43px;}
.point_01 .tk_answer_list .tk_tab_1{cursor:pointer;float:left;width:318px;border-bottom:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.point_01 .tk_answer_list .tk_tab_2{float:left;width:119px;border-bottom:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.point_01 .tk_answer_list .tk_tab_3{float:left;width:119px;border-bottom:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.point_01 .tk_answer_list .tk_tab_4{float:left;width:119px;border-bottom:1px solid #e4e4e4;border-right:1px solid #e4e4e4;}
.point_01 .tk_answer_list .tk_tab_5{float:left;width:199px;border-bottom:1px solid #e4e4e4;}
.point_01 .tk_answer_list .tk_tab_5 a{margin-left:42px;margin-top:7px;width:116px;height:30px;display:block;text-align:center;line-height:30px;color:#fff;background:#009245;}
.point_01 .tk_answer_list .tk_tab_5 a:hover{background:#00AF53;}
.point_01 .tk_answer_list_top .tk_tab_1,.point_01 .tk_answer_list_top .tk_tab_2,.point_01 .tk_answer_list_top .tk_tab_3,.point_01 .tk_answer_list_top .tk_tab_4,.point_01 .tk_answer_list_top .tk_tab_5{border-bottom:0px;}






/**知识点掌握热点图**/
.point_tu{ border-bottom:1px solid #ddd; padding-bottom:69px;}
.point_tu .point_con{ width:890px; margin:0 auto; margin-bottom:20px;}
.point_tu .point_con .point_type{ width:168px; height:286px; margin-right:10px; float:left;}
.point_tu .point_con .point_type .point_type_title{ width:100%; height:45px; line-height:45px; text-align:center; font-size:14px; color:#191919; background:#EEE;}
.point_tu .point_con .point_type .point_list{ width:155px; height:212px; padding:10px 4px 20px 9px; background:#F8F8F8; float:left;}
.point_tu .point_con .point_type .point_list ul li{ float:left; width:26px; height:26px; margin-right:5px; margin-bottom:5px;}
.point_tu .point_orange{ background:#E88C30;}
.point_tu .point_gray{ background:#B9B9B9;}
.point_tu .point_green{ background:#009245;}

.point_tu .point_sign{ width:880px; height:20px; margin:0 auto;}
.point_tu .point_sign ul li{ float:left; margin-right:19px;}
.point_tu .point_sign ul li .point_sign_01{ border:3px solid #ddd; width:14px; height:14px; float:left;}
.point_tu .point_sign ul li span{ float:left; line-height:20px; margin-left:10px; font-size:14px; color:#191919;}





#containerl{width:200px;height:150px;}
.bad-debt-num{ position: absolute; left: 190px; display: inline-block; width:100px; text-align:center; line-height:30px;z-index: 99; text-align: center; font-size: 30px;}





/**答题报告**/
.answer_con{ width:980px; margin:0 auto; margin-bottom:20px; }
.ans_top{ height:88px; width:980px; margin:0 auto; border:1px solid #ddd; margin-bottom:10px; background:#fff;}
.ans_top .ans_top_title{ height:56px; line-height:56px; font-size:18px; color:#010000; padding:0 20px; border-bottom:1px solid #F2F2F2;}
.ans_top span{ font-size:12px; color:#bdbdbd; padding:0 20px; line-height:33px; font-family:"微软雅黑";}

.answer_con .ans_main{ width:978px; border:1px solid #ddd; background:#fff; padding-bottom:30px;}
.answer_con .ans_main .ans_list{height:63px; margin:0 29px; border-bottom:1px solid #E8E8E8;}
.answer_con .ans_main .ans_list li{ float:left; width:118px; line-height:62px; text-align:center; color:#848484; font-size:14px; cursor:pointer; font-weight:bold;}

.answer_con .ans_main .ans_list .li_select{border-bottom:2px solid #009245;color:#009245;}


.ans_main .ans_main_type{ margin:0 30px; padding:0 19px; min-height:669px;}
.pra_content .ans_main_type{ margin:0 30px; padding:0 19px; min-height:669px;}

.ans_main .ans_main_type .ans_main_01 h3{ width:880px; line-height:47px; color:#009245; font-size:12px; font-weight:normal;}
.ans_main_type .ans_main_01 .ans_result{ width:880px; min-height:132px;}
.ans_main_type .ans_main_01 .ans_result .ans_main_left{ width:113px; height:72px; padding:30px 0;  background:#F2F1F1;text-align:center; font-size:14px; color:#191919; line-height:14px; margin-right:1px; float:left;}
.ans_main_type .ans_main_01 .ans_result .ans_main_left span{ color:#009245; font-size:48px; font-family:"Arial"; line-height:30px;}

.ans_main_type .ans_main_01 .ans_result .ans_main_right{ width:740px; min-height:82px; background:#F2F1F1; float:left; padding:30px 8px 20px 18px;}

.sheetTable tr {height:31px;}
.sheetTable tr td { width:24px; height:31px;text-align:center;}
.sheetTable tr td a{ font-size:12px; color:#fff; display:block; background:url(../images/iteam_false.png) no-repeat top left;  height:31px; width:24px; line-height:22px; text-align:center; font-weight:bold; margin-right:10px; margin-bottom:10px;}
.sheetTable .green a{ background:url(../images/iteam_true.png) no-repeat top left;}
.sheetTable .col-1{ width:20px;}

.point_01 .fr_01{ margin-bottom:0;}
.point_01 .tk_answer_list .col-1{ cursor:default;}
.point_01 .tk_answer_list .col-3{ width:154px;}
.point_01 .tk_answer_list .col-4{ width:85px;}
.point_01 .tk_answer_list .col_item{ background:#E8F5CE; width:154px; height:43px;}


.ans_main_type .ans_sp0{ margin-top:10px;}
.ans_main_type .ans_sp0, .ans_sp1{ line-height:34px; font-size:14px; color:#191919;}
.ans_main_type .ans_sp0 .act_get{ color:#9bc83c;}
.ans_main_type .ans_sp1 .act_look{ color:#009245; text-decoration:underline;}




/**成绩排名**/
.ans_score {}
.ans_score .ans_score_top{ margin:20px auto; border:1px solid #ddd;}
.ans_score .ans_score_top .ans_score_left{ width:428px; height:217px; border-right:1px solid #ddd; float:left; color:#191919; font-size:14px; text-align:center; padding-top:25px;}
.ans_score .ans_score_top .ans_score_left span{ line-height:24px;}
.ans_score .ans_score_top .ans_score_left .ans_score_num span{ font-size:48px; color:#009245; line-height:90px;}
.ans_score .ans_score_top .ans_score_left .ans_score_info{ margin-top:30px;}
.ans_score .ans_score_top .ans_score_left .ans_score_info span, .ans_score_right .ans_score_info span{ color:#009245; line-height:24px; }

.ans_score .ans_score_top .ans_score_right{ float:left; width:449px; height:242px;font-size:14px; color:#191919;}
.ans_score .ans_score_top .ans_score_right .ans_score_info{ margin-left:30px; margin-top:20px;}
.ans_score .ans_score_top .ans_score_right .ans_score_ranking{ width:390px; height:152px; background:url(../images/tk_paiming.png) no-repeat; margin-top:22px; margin-left:30px;}
.ans_score_right .ans_score_ranking .person_list{ min-width:39px; height:56px; float:left;}
.ans_ranking_person_01{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:90px;}
.ans_ranking_person_02{ position:relative; background:url(../images/ti_person_02.png) no-repeat center center; margin-top:82px;}
.ans_ranking_person_03{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:72px;}
.ans_ranking_person_04{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:62px;}
.ans_ranking_person_05{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:52px;}
.ans_ranking_person_06{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:42px;}
.ans_ranking_person_07{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:32px;}
.ans_ranking_person_08{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:22px;}
.ans_ranking_person_09{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:12px;}
.ans_ranking_person_10{ position:relative; background:url(../images/ti_person_01.png) no-repeat center center; margin-top:2px;}

.ans_score span{ font-size:14px; color:#191919;}
.ans_score .ans_train{ width:116px; height:30px; line-height:30px; text-align:center;margin-top:20px;}
.ans_score .ans_train a{ float:left; width:116px; height:30px;color:#fff;background:#9BC83C; }
.ans_score .ans_train a:hover{ background:#009245;}

/**题目解析**/
.ans_jiexi{}
.ans_jiexi .ans_jiexi_type{ width:838px; height:40px; padding:0 20px; background:#E7E7E7; line-height:40px; border:1px solid #ddd; color:#bdbdbd; font-size:12px; margin-top:20px;}
.ans_jiexi .ans_jiexi_type span{ float:left; margin-right:20px;}
.ans_jiexi .ans_jiexi_type .ans_check_type{height:20px; line-height:20px; padding:3px 0; text-align:left; margin-right:20px; float:left; margin-top:6px;}
.ans_jiexi .ans_jiexi_type .ans_check_type label{cursor:pointer; font-size:14px; color:#000;}
.ans_jiexi .ans_jiexi_type .ans_check_type input{ width:14px; height:14px;}
.ans_jiexi .ans_jiexi_type .ans_check_type .checkbox{vertical-align:middle; margin-top:0; margin-left:0; margin-right:5px;}

.ans_jiexi  .ans_jiexi_model{ width:878px; border:1px solid #ddd; margin-top:10px;}
.ans_jiexi  .ans_jiexi_model .jiexi_model{ background:#f8f8f8; color:#000; font-size:14px; line-height:24px; border-bottom:1px solid #ddd; border-top:3px solid #ddd; padding:15px 20px;}
.ans_jiexi  .ans_jiexi_model .jiexi_model div{ min-width:20px; height:auto; float:left; font-weight:normal; color:#009245; font-size:24px;}

.ans_jiexi  .ans_jiexi_model .jiexi_model p{ width:810px; float:right;}
.ans_jiexi  .ans_jiexi_model .jiexi_model .content { background:#f8f8f8; color:#000; font-size:14px; line-height:24px;}

.ans_jiexi .ans_jiexi_model .jiexi_choice{ font-size:14px; line-height:24px; margin:15px 0; padding:5px 19px 5px 19px;}
.ans_jiexi .ans_jiexi_model .jiexi_choice ul li{ cursor:pointer; padding:10px 24px;}
.ans_jiexi .ans_jiexi_model .jiexi_choice ul li .value{ color:#aaa; padding-right:14px;}
/*
.ans_jiexi .ans_jiexi_model .jiexi_choice ul li:hover{background:#F6F6F6;}
*/
.ans_jiexi .ans_jiexi_model .jiexi_info{ min-height:49px; line-height:49px; border-top:1px solid #ddd; padding:0 20px; font-size:14px; color:#000;}
.ans_jiexi .ans_jiexi_model .jiexi_info .jiexi_info_top{ height:49px;}
.ans_jiexi .ans_jiexi_model .jiexi_info .jiexi_info_top img{ margin-left:5px;}
.ans_jiexi .ans_jiexi_model .jiexi_info .jiex_info_right{ margin-top:9px;}
.ans_jiexi .ans_jiexi_model .jiexi_info .jiex_info_right ul li{ float:left; margin-left:10px; border-radius:3px; border:1px solid #ddd; height:28px;line-height:28px; text-align:left; cursor:pointer;}

.jiex_info_right .jiexi_icon_01{ width:67px; padding-left:31px; background:url(../images/jiexi_list_01.png) no-repeat 11px 6px;}
.jiex_info_right .jiexi_icon_01_active{ width:67px; padding-left:31px; background:#ECECEC url(../images/jiexi_list_01_act.png) no-repeat 11px 6px;}

.jiex_info_right .jiexi_icon_02{ width:60px; padding-left:38px; background:url(../images/jiexi_list_02.png) no-repeat 18px 6px;}
.jiex_info_right .jiexi_icon_03{ width:80px; padding-left:32px; background:url(../images/jiexi_list_03.png) no-repeat 12px 8px;}
.jiex_info_right .jiexi_icon_04{ width:55px; padding-left:43px; background:url(../images/jiexi_list_04.png) no-repeat 22px 8px;}
.jiex_info_right .jiexi_icon_01:hover{ background:#ECECEC url(../images/jiexi_list_01.png) no-repeat 11px 6px;}
.jiex_info_right .jiexi_icon_02:hover{ background:#ECECEC url(../images/jiexi_list_02.png) no-repeat 18px 6px;}

.jiex_info_right .jiexi_icon_03:hover{ background:#ECECEC url(../images/jiexi_list_03.png) no-repeat 12px 8px;}

.jiex_info_right .jiexi_icon_04:hover{ background:#ECECEC url(../images/jiexi_list_04.png) no-repeat 22px 8px;}


/* .jiexi_icon_01_active{background:#ECECEC url(../images/jiexi_list_01_act.png) no-repeat 11px 6px;} */
.jiexi_icon_03_active{ background:#ECECEC url(../images/jiexi_list_03_act.png) no-repeat 12px 8px;}





.jiexi_info .jiexi_info_div{ padding:0 20px;}
.jiexi_info .jiexi_info_div .jiexi_info_detail{ height:24px; line-height:24px; font-size:14px; color:#000; padding:10px 0;}
.jiexi_info .jiexi_info_div .jiexi_info_detail .sp_true{ color:#628D43; font-weight:bold;}
.jiexi_info .jiexi_info_div .jiexi_info_detail .sp_false{ color:#DB4E10;font-weight:bold;}

.jiexi_info .jiexi_info_div .jiexi_info_come{ margin-bottom:19px;}
.jiexi_info .jiexi_info_div .jiexi_info_come .jiexi_info_come_le, .jiexi_info_come_top .jiexi_info_come_left{ width:96px; height:34px; line-height:34px; text-align:center; float:left; background:url(../images/jiexi_info_01.png) no-repeat;color:#525252;}
.jiexi_info_div .jiexi_info_come p{ float:right; width:689px; line-height:24px; padding-top:5px; padding-right:5px;}
.jiexi_info_div .jiexi_info_come .jiexi_info_come_left{ background:url(../images/jiexi_info_02.png) no-repeat;}
.jiexi_info_div .jiexi_info_come .jiexi_info_come_top{ height:34px; margin-bottom:19px;}
.jiexi_info_div .jiexi_info_come .jiexi_info_come_top  .jiexi_edit{ float:left; margin-left:8px; line-height:34px; color:#9bc83c; padding-right:30px; background:url(../images/jiexi_info_edit.png) no-repeat 60px 11px; cursor:pointer;}

.jiexi_info_div .jiexi_info_come .jiexi_info_come_bottom{ width:800px;}
.jiexi_info_div .jiexi_info_come .jiexi_info_come_bottom textarea{ width:800px; height:133px; border:1px solid #ddd; padding-left:10px;}
.jiexi_info_div .jiexi_info_come .jiexi_info_come_bottom .info_span{ font-size:14px; color:#b2b2b2; float:left; line-height:30px;}
.jiexi_info_div .jiexi_info_come .jiexi_info_come_bottom .info_come_reacord{ float:right; width:87px; height:30px; margin-top:15px; background:#9BC83C; color:#fff; line-height:30px; text-align:center;}














/**答题页**/
.ti_paper_info{ width:938px; height:28px; line-height:28px; border:1px solid #ddd; margin:0 auto; padding:14px 20px; font-size:18px; color:#010000; background:#fff; margin-bottom:10px;}

.ti_paper_con{ width:980px; margin:auto;}
.ti_paper_con_fl{ width:810px;}


.ti_paper_module_div{width:810px;height:52px;}
.ti_paper_module{background:#fff;width:808px;height:50px;border:1px solid #ddd;line-height:50px;text-align:center;}
.ti_paper_module_fixed{position:fixed; top:0;}
.ti_paper_module ul li{font-weight:bold;cursor:pointer;float:left;height:51px;margin-left:40px;}
.ti_paper_module ul li:hover{color:#009245;}
.ti_paper_module ul .li_a{color:#009245; background:url(../images/ti_paper_module.png) no-repeat center center;}


.ti_question{background:#fff;margin-bottom:10px;width:808px;border:1px solid #ddd;word-wrap:break-word;word-break:break-all;position: relative;}
.ti_question .question_content{background:#f8f8f8;color:#000;font-size:14px;line-height:24px;border-bottom:1px solid #ddd;padding:15px 20px;}
.ti_question .question_content div{ width:35px; height:auto; float:left;font-weight:normal;color:#009245;font-size:24px;}
.ti_question .question_content p{ width:730px; float:right;}
.ti_question .question_content span{}
.ti_question .question_choice{font-size:14px;line-height:24px;margin-top:25px;padding:5px 19px 5px 19px;}
.ti_question .question_choice ul li{cursor:pointer;padding:10px 24px 10px 24px; }
.ti_question .question_choice ul li span{color:#aaa;padding-right:14px;}
.ti_question .question_choice ul li:hover,.tk_question .question_choice .active,.question_choice li.active{background:#F6F6F6;}

.ti_question .question_btn_box .question_btn dl{ position:absolute; left:50%;}
.ti_question .question_btn_box .question_btn dl dt{
        cursor:pointer;font-size:14px;color:#000;margin-left:5px; margin-right:5px;
        text-indent:60px;float:left;width:100px;height:36px;line-height:36px;
        position:relative; right:50%;
}
.ti_question .question_btn_box .question_btn .a{color:#fff;}

/* 切换样式 */
.ti_radio_question{ width:808px;}
.ti_radio_question .question_btn_box{width:2000px;margin-left:-596px; margin-right:596px;}
.ti_radio_question .question_btn_box .question_btn{padding:20px 0px; height:40px;position:relative;}
.ti_radio_question .question_btn_box .question_btn dl dt{background:#e5e5e5 url(../images/radio_question_btn.png) no-repeat 30px 11px;}
.ti_radio_question .question_btn_box .question_btn dl dt:hover,
.ti_radio_question .question_btn_box .question_btn .a{background:#009245 url(../images/radio_question_btn_hover.png) no-repeat 30px 11px; color:#fff;}

.ti_check_questio{ width:808px;}
.ti_check_question .question_btn_box{width:2000px;margin-left:-596px; margin-right:596px;}
.ti_check_question .question_btn_box .question_btn{padding:20px 0px 20px 0px; height:36px; position:relative;}
.ti_check_question .question_btn_box .question_btn dl dt{background:#e5e5e5 url(../images/check_question_btn.png) no-repeat 30px 11px;}

.ti_check_question .question_btn_box .question_btn dl dt:hover,
.ti_check_question .question_btn_box .question_btn dl .active,
.ti_check_question .question_btn_box .question_btn .a 
{background:#009245 url(../images/check_question_btn_hover.png) no-repeat 30px 11px;
 
}

.ti_check_question .question_btn_box .question_btn dl dt[class="active"] {background:#009245 url(../images/check_question_btn_hover.png) no-repeat 30px 11px;}
.ti_radio_question .question_btn_box .question_btn dl dt[class="active"] {background:#009245 url(../images/radio_question_btn.png) no-repeat 30px 11px;}

/**时钟**/


.ti_paper_dashboards_div{width:160px;height:310px;}
.ti_paper_dashboards{background:#fff;padding:29px 19px 19px 19px; border:1px solid #ddd;width:120px;height:260px;}
.ti_paper_dashboards_fixed{position:fixed;top:0;}
.ti_paper_clock{color:#7b7b7b;text-align:center;height:14px;font-size:14px;padding-top:80px;padding-bottom:20px;background:url(../images/ti_paper_clock.png) no-repeat top center;}
.ti_paper_dashboards_btn ul li{cursor:pointer;margin-top:10px;font-size:14px;color:#010101;text-align:center;line-height:38px;width:118px;height:38px;}
.ti_paper_pasue{background:#;border:1px solid #009245;}
.ti_paper_pasue:hover{background:#009245;}
.ti_paper_next{background:#DBECBA;border:1px solid #009245;}
.ti_paper_next:hover{background:#009245;}
.ti_paper_submit{background:#009245;color:#fff;}
.ti_paper_submit:hover{background:#00AF53;}


.ti_composites_content_fixed{display:none;overflow: auto;background:#f8f8f8;position:fixed;top:52px;font-size:14px;line-height:24px;padding:14px 35px;width:738px;color:#000;border:1px solid #dddddd;word-wrap:break-word;word-break:break-all;}
.ti_composites_content_fixed1{display:none;overflow: auto;background:#f8f8f8;position:fixed;top:0px;font-size:14px;line-height:24px;padding:14px 35px;width:738px;color:#000;border:1px solid #dddddd;word-wrap:break-word;word-break:break-all;}


/**复合题**/
.ti_composites{background:#f8f8f8;margin-top:10px;border:1px solid #ddd;}
.ti_composites .tk_question{margin-top:0px;border-bottom:0px;border-left:0px;border-right:0px;}
.ti_composites_content{margin-top:19px;margin-bottom:19px;}
.ti_composites_content_fl{margin-left:19px;color:#fff;text-align:center;padding-top:4px;font-size:14px;width:25px;height:53px;background:#009245;}
.ti_composites_content_fr{width:740px;margin-left:10px;font-size:14px;line-height:24px;color:#000;word-wrap:break-word;word-break:break-all;}
.ti_composites_content_fr img{ margin-top:10px;}

.ti_composites .ti_question {margin-top: 0px;border-bottom: 0px;border-left: 0px;border-right: 0px;}



.ti_paper_sheet_div{/*margin-top:60px; margin-bottom:20px;*/width:810px;}
.ti_paper_sheet{width:810px;}
.ti_paper_sheet_fixed{position:fixed;bottom:0px;margin-top:20px;width:810px;}
.ti_paper_sheet_top{margin:-42px auto 0px auto;cursor:pointer;background:#fff;text-indent:14px;line-height:42px;color:#009245;font-size:14px;background:#fff url(../images/item-up.png) no-repeat 170px 14px;position:relative;z-index:1;width:198px;height:42px;border:1px solid #009245;border-bottom:0px;}
.ti_paper_sheet_top_a{background:#fff url(../images/item-down.png) no-repeat 170px 14px;}


.ti_paper_sheet_bottom{background:#fff;position:relative;z-index:0;margin-top:-1px;width:808px;border:1px solid #009245;}
.ti_paper_sheet_bottom ul{ margin:9px 15px 14px 15px;}
.ti_paper_sheet_bottom ul li{cursor:pointer;float:left;font-size:14px;width:30px;height:30px;border-radius:3px;text-align:center;line-height:30px;margin-left:5px;margin-top:5px;background:#E5E5E5; border:1px solid #A4A4A4;}
.t_paper_sheet_bottom ul .a,.tk_paper_sheet_bottom ul li:hover{background:#e5e5e5;border:1px solid #a4a4a4;}
.ti_paper_sheet_bottom .ti_num{ margin-right:9px;}
.ti_paper_sheet_bottom .active{ border:1px solid #009245;background:#DBECBA;}






/*弹出层遮罩*/
.tk_cover_bg{width:100%;height:100%;position:fixed;top:0;left:0;z-index:1;background:#000;filter:alpha(opacity=60);opacity:0.6;}
/*专项练习弹出层*/
.tk_special_project{z-index:9999;position:absolute;top:-170px;margin-left:-235px;padding-top:15px;padding-left:30px;padding-bottom:40px;width:440px;background:#fff;}
.tk_special_project_cancel{height:15px;padding-right:15px;}
.tk_special_project_tit{color:#000;font-size:14px;font-weight:bold;height:22px;}
.tk_special_project_bottom{padding-right:30px;}
.tk_special_project_bottom ul li{font-size:14px;margin-top:15px;line-height:30px;}
.tk_special_project_tab_li{}
.tk_special_project_li_fl{cursor:pointer;width:298px;color:#191919;}
.tk_special_project_li_fr{width:112px;}
.tk_special_project_li_fr span{display:block;background:#009245;width:112px;height:30px;line-height:30px;text-align:center;color:#fff; cursor:pointer;}

.tk_special_project_bottom ul li .tk_special_project_li_fl{text-indent:30px;}
.tk_special_project_bottom ul li ul li .tk_special_project_li_fl{text-indent:60px;}
.tk_special_project_bottom ul li ul li ul li .tk_special_project_li_fl{text-indent:90px;}

.tk_special_project_bottom ul li  ul li  ul li{background:url(../images/iteam_list_03.png)  no-repeat 60px center;}

.tk_special_project_bottom ul li .noa{background:url(../images/iteam_list_01.png) no-repeat center left;}
.tk_special_project_bottom ul li .a{background:url(../images/iteam_list_02.png)  no-repeat center left;}

.tk_special_project_bottom ul li  ul li .noa{background:url(../images/iteam_list_01.png)  no-repeat 30px center;}
.tk_special_project_bottom ul li  ul li  .a{background:url(../images/iteam_list_02.png)  no-repeat 30px center;}


.oldPassword,.newPassword,.rePassword,.eatPassword,.name,.phoneNum{
    display: none;
}
.ti_paper_dashboards_btn ul li{cursor:pointer;margin-top:10px;font-size:14px;color:#010101;text-align:center;line-height:38px;width:118px;height:38px;}

.ti_paper_pasue{background:#DBECBA;border:1px solid #009245;}


.ti_paper_next{background:#DBECBA;border:1px solid #009245;}

/**公共设置**/
.common_con{ width:980px; margin:0 auto;}
.common_con .common_main{ width:978px; border:1px solid #ddd; background:#fff; padding-bottom:30px; margin-bottom:20px;}
.common_con .common_main .common_list{height:63px; margin:0 29px; border-bottom:1px solid #E8E8E8;}
.common_con .common_main .common_list li{ float:left; width:118px; line-height:62px; text-align:center;  font-size:14px; cursor:pointer; font-weight:bold;}
.common_con .common_main .common_list li a{color:#848484;width:100%;height:100%;}
.common_con .common_main .common_list .common_select{  border-bottom:2px solid #00B18F;}
.common_con .common_main .common_list .common_select a{ color:#00b18f;}
.common_main .common_main_type{ margin:0 auto;}


.common_personal{ width:470px; height:445px; margin:0 auto; padding:30px 0 26px;}
.common_testset{height:500px; border-bottom:1px solid #ddd;}
.common_range{width:978px; padding:0 0 19px;}
.common_modify{height:470px;}

    
.common_personal .common_person{ width:120px; height:120px; margin-left:90px; background:url(../images/common_person_03.png) no-repeat;}
.common_personal .common_inform{ margin-left:15px;}
.common_personal .common_inform p{ line-height:20px; font-size:12px; color:#b2b2b2; padding:20px 0 10px;}
.common_personal .common_inform .filebtn{ width:90px; height:30px; background:#00B18F; border:0; border-radius:5px; color:#fff; font-size:14px; font-family:"微软雅黑"; cursor:pointer;}
.common_personal .common_inform .filebtn:hover{ background:#009F80;}
.common_personal .common_inform span{ font-size:12px; color:#b2b2b2; margin-left:5px;}

.common_personal .common_info{ height:40px; line-height:40px; margin-top:20px;}
.common_personal .common_info lable{ width:72px; float:left; text-align:right; color:#000;}
.common_personal .common_info .user_count{ float:right; background:#F0F0F0; height:40px; width:370px; padding-left:10px; color:#b2b2b2;}
.common_personal .common_info .user_inp{ float:right; height:38px; width:378px; border:1px solid #ddd;}
.common_personal .common_info .user_inp_01{border:1px solid #00B18F;}
.common_personal .common_info .user_inp .user_phone{ width:252px;border:0; height:34px; padding-left:10px; margin:2px 0;}
.common_personal .common_info .user_inp .common_bind{ width:71px; height:34px; line-height:34px; text-align:left; margin:2px 0; margin-right:2px; padding-left:33px; color:#535353; font-size:14px; cursor:pointer;}
.common_personal .common_info .user_inp .bind_icon{ background:#F5F4F4 url(../images/unbind.png) no-repeat 15px 9px;}
.common_personal .common_info .user_inp .bind_icon_01{ background:#F5F4F4 url(../images/bind.png) no-repeat 15px 9px;}
.common_personal .save_set{ width:380px; height:40px; border-radius:3px; background:#00B18F; float:right;  margin-top:20px; line-height:40px; text-align:center; color:#fff; font-size:14px;}
.common_personal .save_set:hover{ background:#009F80;}

.common_testset .common_area{ padding:0 23px 0 49px;}
.common_testset .common_area ul li{ float:left; padding-right:54px; width:71px; height:36px; line-height:36px; margin-right:26px; margin-top:20px; border-radius:5px; cursor:pointer; font-size:14px; color:#000; text-align:center;}
.common_testset .common_area .common_li_icon{ background:#E5E5E5 url(../images/radio_01.png) no-repeat 92px 10px;}
.common_testset .common_area .common_li{ width:69px; height:34px; border:1px solid #00B18F; color:#fff; line-height:34px; background:#66D8C2 url(../images/radio_02.png) no-repeat 92px 10px;}
.common_testset .common_save{ margin-left:49px; margin-top:20px; float:left;}
.common_testset .common_save #update_area{ color:#fff; font-size:14px; float:left; background:#00B18F; border-radius:5px; width:116px; height:40px; line-height:40px; text-align:center;}
.common_testset .common_save #update_area:hover{ background:#009F80;}

.common_range .common_range_title{ background:#F4F4F4; height:55px; line-height:55px; padding-left:20px; font-size:18px; color:#000; }
.common_range .choice_area, .choice_year{ line-height:49px; text-align:center; color:#000; font-size:14px;}
.common_range .area_detail{ position:relative;}
.common_range .area_detail, .year_detail{ width:700px; border:1px solid #ddd; padding:19px 4px 19px 19px; margin:0 auto;}
.common_range  ul{ margin:0 auto; width:725px;}
.common_range .area_detail .range_select{ height:40px;}
.common_range .area_detail .range_select .range_inp{ width:198px; line-height:38px; padding-left:10px; height:38px; border:1px solid #ddd; color:#000; display:inline-block; margin-right:37px; cursor:pointer;}
.common_range .area_detail .range_select  span{ color:#b2b2b2; font-size:12px; font-family:"微软雅黑";}
.common_range .area_detail .area_check{ }
.common_range .area_detail .area_check ul li, .year_detail .year_check ul li{ float:left; padding-right:54px; width:71px; height:36px; line-height:36px; margin-right:15px; margin-top:15px; border-radius:5px; cursor:pointer; font-size:14px; color:#000; text-align:center;}
.common_range .area_detail .area_check  .area_check_icon, .year_detail .year_check .year_check_icon{ background:#E5E5E5 url(../images/check_01.png) no-repeat 92px 10px;}
.common_range .area_detail .area_check  .area_check_li, .year_detail .year_check .year_check_li{ width:69px; height:34px; border:1px solid #00B18F; color:#fff; line-height:34px; background:#66D8C2 url(../images/check_02.png) no-repeat 92px 10px;}

.common_range ul li{ float:left; padding-right:34px; width:91px; height:36px; line-height:36px; margin-right:15px; margin-top:15px; border-radius:5px; cursor:pointer; font-size:14px; color:#848484; text-align:center;}
.common_range .area_check_icon{ background:#E5E5E5 url(../images/check_01.png) no-repeat 92px 10px;}
.common_range .area_check_li{ height:34px; border:1px solid #00B18F; color:#fff; line-height:34px; background:#66D8C2 url(../images/check_02.png) no-repeat 92px 10px;}

.common_range .year_detail span{ color:#b2b2b2; font-family:"微软雅黑";}
.common_range .orang_save_set{ width:116px; height:40px; margin:34px auto 0;}
.common_range .orang_save_set button{ float:left; width:116px; height:40px; background:#00B18F; line-height:40px; text-align:center; color:#fff; border-radius:5px;}
.common_range .orang_save_set button:hover{ background:#009F80;}

.common_range .area_detail .range_select_choice{ position:absolute; top:56px; left:-20px; width:745px; padding:19px 2px 10px 19px; background:#F1F1F1;}
.common_range .area_detail .range_select_choice a{ float:left; line-height:28px; margin-right:30px; font-size:12px; color:#000; font-family:"微软雅黑";}
.common_range .area_detail .range_select_choice a:hover{color:#00b18f; text-decoration:underline;}
.common_range .area_detail .range_select_choice .choice_selected{ color:#00b18f; text-decoration:underline;}
.common_range .area_detail .range_select .range_inp_icon{ background:url(../images/common_down.png) no-repeat 186px 2px;}
.common_range .area_detail .range_select .range_inp_icon_01{ background:#F3F3F3 url(../images/common_up.png) no-repeat 186px 2px;}

/**修改密码**/
.common_modify .modify_pass{ width:380px; margin:20px auto;}
.common_modify .modify_pass .modify_inp{ width:378px; height:38px; border:1px solid #ddd; margin-bottom:20px;}
.common_modify .modify_pass .modify_inp_01{ border:1px solid #00B18F;}
.common_modify .modify_pass .modify_inp input{ border:0; width:378px; text-indent:10px; height:34px; margin:2px 0;}
.common_modify .modify_pass .modify_submit{ width:380px; height:40px;}
.common_modify .modify_pass .modify_submit button{ font-size:14px; background:#00B18F; width:380px; height:40px; line-height:40px; text-align:center; float:left; border-radius:5px; color:#fff;}
.common_modify .modify_pass .modify_submit button:hover{ background:#009F80;cursor:pointer;}

/**复合题样式**/
.ans_jiexi .ans_jiexi_composite{ border:1px solid #ddd; width:878px; margin-top:10px; border-top:3px solid #ddd;}
.ans_jiexi_composite_content{ border-bottom:1px solid #ddd; width:878px; margin-top:19px; padding-bottom:19px;}
.ans_jiexi .ans_jiexi_composite .ans_jiexi_model{ margin-top:0; border:0;}
.ans_jiexi .ans_jiexi_composite .ans_jiexi_model .jiexi_model{ border:0;}
.ans_jiexi .ans_jiexi_model .jiexi_info .jiexi_info_left{ cursor:pointer;}

/**回到顶部**/
.re_top{ position:fixed; bottom:162px; width:33px; height:98px;left:1042px; display:none; background:url(../images/come_back_top.png) no-repeat;cursor:pointer;}
.re_top:hover{  background:url(../images/come_back_top_hover.png) no-repeat;}

/**artdialog插件样式**/
.ui-dialog-close {
    position: relative;
    _position: absolute;
    float: right;
    top: 13px;
    right: 0px;
    _height: 26px;
    padding: 0 4px;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #FFF;
    opacity: .2;
    filter: alpha(opacity=20);
    cursor: pointer;
    background: transparent;
    _background: #FFF;
    border: 0;
    -webkit-appearance: none;
}
.ui-dialog-close:hover,.ui-dialog-close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}



/*真题演练*/
.zhenti {width:600px;}
.zhenti .tk_special_project_bottom  ul li { margin-bottom:10px;border-bottom:2px solid #eee;padding:2px;}
.zhenti .tk_special_project_bottom  ul li .paper_name{
    font-size:16px;



}
.zhenti .tk_special_project_bottom  ul li .start_answer {
    display:inline-block;
    width:100px;
    line-height: 32px;
    background-color:#009245;
    height:32px;
    text-align:center;
    color:#fff;
    margin-left:180px;
    cursor:pointer;
    float:right;
}

