/* CSS Document */
.submit_button {
	width:380px; 
	height:40px;
	color:#fff; 
	background:#2BB057; 
	float:left; 
	text-align:center; 
	line-height:40px;
	font-size:16px; 
	font-weight:bold;
	border:none;
}
.submit_button:hover{cursor:pointer;}
.li_selected{text-decoration: none;color:#00B18F!important;border-bottom: 2px solid #00B18F!important;}